.main_nav{
	width:1003px; height:36px;
	line-height: 36px;
	margin:0 auto;
	text-align: left;
	text-indent: 2em;

}
.main_nav nav,.main_nav nav a{
	color:#4c4c4c;
	font-size:16px;
}
.main_nav nav a span{
	color:#e97520;
}
.main{
	width:1003px;
	margin:0 auto;
	border:1px solid #ccc;
	overflow: hidden;
	background:#fcfcfc;
	position: relative;
}
.main .main_left{
	width:220px;
	height: 585px;
	float:left;
}
.main .main_left .phone{
	width:191px;
	height:86px;
	border-bottom:1px solid #ccc;
	padding:19px 0 0 29px;
}
.main .main_left .phone div{
	width:57px;
	height:57px;
	border:1px solid #ccc;
	border-radius:29px;
	overflow:hidden;
	float:left;
}
.main .main_left .phone p{
	width:57px;
	height:83px;
	float:left;
	border-bottom:0;
}
.main .main_left p{
	widows: 220px;;
	height:48px;
	border-bottom:1px solid #ccc;
	line-height: 48px;
	font-size:14px;
	color:#666;
	/* padding-left:33px; */
}
.main .main_left .p1{
	background: #507a45;
	color:#fff;
}
.main .main_right{
	width:782px;height:585px;
	border-left:1px solid #ccc;
	float: right;
	background:#fff;
	position: absolute;
	top: 0;
	right: 0;
}
.main .main_right h1{
	width:759px; height:54px;
	border-bottom:1px solid #ccc;
	color:#507a45;
	line-height: 54px;
	font-size:18px;
	font-weight:900;
	padding-left:23px;
	text-align: left;
	text-indent: 2em;
	/* background:url(../images/message.jpg) no-repeat 113px 19px; */
}
.main .main_right .txt{
	width:250px; height:38px;
	border:1px solid #666;
	border-radius:5px;
	padding-left:10px;
}
.main .main_right table{
	margin: 20px auto;
}
.main .main_right table tr{
	height:52px;
}
.main .main_right table tr td:nth-of-type(1){
	padding:0 30px 20px;
	text-align:right;
}
.main .main_right table tr .cswbtn{
	width: 100px; height: 38px;
	background: #507a45;
	border:1px solid #507a45;
	border-radius:5px;
	color:#fff;
}
.cswa{
	/* padding:0 10px; */
	display: inline-block;
	height: 38px;
	background: #b94004;
	line-height: 38px;
	border-radius:5px;
	color:#fff;
	margin-left:21px;
}

.bottom{
	width:782px; height:68px;
} 

#tip, #atip, #ptip {
    color: red;
    text-align: left;
    text-indent: 6em;
    font-size: .5em;
}
.main .main_right table tr.cswtr{
	height: 20px;
}