.clear{
	clear:both;
}
.container{
	width:100%;
	display: block;
	background:#fff;
	margin:0 auto;
	position: relative;
	height: 700px;
}
header{
	width:100%;
}
header .head_nav{
	width:100%; height:60px;
	background:rgba(38,39,37,0.7);
	position: fixed;
	top:0;
	z-index: 999;
	line-height: 60px;
}
header .head_nav .logo{
	float:left;
	margin-left:98px;
}
header .head_nav nav{
	float:right;
	margin-right:98px;
}
header .head_nav nav a{
	padding:19px 7px;
	margin-left:29px;
	color:#fff;
	font-size:16px;
}

header .head_nav nav a:hover{
	background: #bf4609;
}
.log{
	width:252px; height:350px;
	position: absolute;
	top:149px; right:72px;
	background:#fff;
	padding:12px 19px 0;
}
.log .phone{
	width:56px; height:56px;
	border:1px solid #b7b7b7;
	border-radius:28px;
	float:left;
	text-align:center;
	line-height: 56px;
	margin-right:20px;
	overflow: hidden;
}
.log h1{
	font-size:24px;
	color:#666;
	font-weight:900;
	text-align:center;
	float:left;
	margin:10px 0;
}
.log p{
	margin:14px 0;
}
.log .txt_input{
	width:219px; height:40px;
	border:1px solid #7a7a7a;
	border-radius:5px;
	line-height: 40px;
	padding-left:33px;
}
.log .txt_input input{
	width:212px; height:30px;
	border:none;
}
.log .txt_inp01{
	background:url(../images/log_icon_01.jpg)no-repeat 10px 15px;
}
.log .txt_inp02{
	background:url(../images/log_icon_02.jpg)no-repeat 10px 15px;
}
.log .txt_inp03{
	background:url(../images/log_icon_03.jpg)no-repeat 10px 15px;
}
.log .txt_input:hover{
	border:1px solid #507a45;
}

.log .pas{
	width:250px; height:33px;
}
.log .pas input{
	width:150px; height:33px;
	border:1px solid #7a7a7a;
	text-indent:34px;
	margin-right:5px;
}
.log .pas a{
	padding:7px 9px;
	background:#bf4609;
	color:#fff;
}
.log .submit{
	width:250px; height:38px;
	border:1px solid #507a45;
	border-radius:5px;
	background:#507a45;
	color:#fff;
	margin:14px 0;
}
.log .register{
	font-size:12px;
	color:#666;
	float:right;
}


