
<?php include('view/common/header.html'); ?>
<!-- End: Header -->

<!-- Start: Main -->
<div id="main">
    <!-- Start: Sidebar -->
    <?php include('view/common/sidebar.html'); ?>
    <!-- End: Sidebar -->
    <!-- Start: Content -->
    <section id="content">
        <div id="topbar" class="affix">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active">添加管理员</li>
            </ol>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-lg-8 center-column">
                    <form action="" method="post" class="cmxform" enctype="multipart/form-data">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">添加管理员</div>
                                <div class="panel-btns pull-right margin-left">
                                    <a href="admin_list.php"
                                        class="btn btn-default btn-gradient dropdown-toggle"><span
                                            class="glyphicon glyphicon-chevron-left"></span></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <div class="input-group"><span class="input-group-addon">&nbsp;管理员&nbsp;用户名&nbsp;</span>
                                            <input type="text" name="admin_username" value="" class="form-control">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="input-group"><span class="input-group-addon">管理员真实姓名</span>
                                            <input type="text" name="admin_real" value="" class="form-control">
                                        </div>
                                    </div>
                                        
         
                                    <div class="form-group">
                                        <div class="input-group"><span class="input-group-addon">&nbsp;管&nbsp;理&nbsp;员&nbsp;密&nbsp;码&nbsp;</span>
                                            <input type="password" name="password" value="" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group"><span class="input-group-addon">管理员密码确认</span>
                                            <input type="password" name="repassword" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <input type="submit" value="提交" class="submit btn btn-blue">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>
    <!-- End: Content -->
</div>
<!-- End: Main -->
<?php include('view/common/footer.html'); ?>




















