<?php include('view/common/header.html'); ?>

<!-- Start: Header -->

<!-- End: Header -->

<!-- Start: Main -->
<div id="main"> 
    <!-- Start: Sidebar -->
    <?php include('view/common/sidebar.html'); ?>
  <!-- End: Sidebar -->   

  <!-- Start: Content -->
  <section id="content">
    <div id="topbar" class="affix">
      <ol class="breadcrumb">
        <li><a href="index.php"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">系统管理员</li>
      </ol>
    </div>
    <div class="container">

	 <div class="row">
        <div class="col-md-12">
			<div class="panel">
                <div class="panel-heading">
                  <div class="panel-title">系统管理员</div>
                  <a href="admin_add.php" class="btn btn-info btn-gradient pull-right"><span class="glyphicons glyphicon-plus"></span> 添加管理员</a>
                </div>
                <form action="" method="post">
                <div class="panel-body">
                  <table class="table table-striped table-bordered table-hover dataTable">
                      <tr class="active">
                        
                        <th class="text-center" width="100"><input type="checkbox" value="" id="checkall" class=""> 全选</th>

                        <th>账号</th>
                        <th>真实姓名</th>
                        <th>最后登陆的时间</th>
                        <th>最后登陆的 IP</th>
                        <th width="200">操作</th>
                      </tr>
                      <?php foreach($admin as $v) { ?>
                      <tr class="success">
                        <td class="text-center">
                            <?php if($v['admin_id']!=1){ ?>
                                <input type="checkbox" value="<?php echo $v['admin_id'] ?>" name="aidarr[]" class="cbox">
                            <?php } ?>
                        </td>
                        <td><?php echo $v['admin_username'] ?></td>
                        <td><?php echo $v['admin_real'] ?></td>
                        <td><?php echo date('Y-m-d h:i:s', $v['lasttime']) ?></td>
                        <td><?php echo $v['lastip'] ?></td>
                        <td>
                          <div class="btn-group">
                            <a href="admin_edit.php?aid=<?php echo $v['admin_id'] ?>" class="btn btn-default btn-gradient"><span class="glyphicons glyphicon-pencil"></span></a>
                            <?php if($v['admin_id']!=1){ ?>
                                <a onclick="return confirm('确定要删除吗？');" href="admin_del.php?aid=<?php echo $v['admin_id'] ?>" class="btn btn-default btn-gradient dropdown-toggle"><span class="glyphicons glyphicon-trash"></span></a>
                            <?php } ?>
                        </div>
                        
                        </td>
                      </tr>
                      <?php } ?>
                  </table>
                  
                  <div class="pull-left">
                  	<button type="submit" class="btn btn-default btn-gradient pull-right delall"><span class="glyphicons glyphicon-trash"></span></button>
                  </div>
                  
                  <div class="pull-right">
                    <ul class="pagination" id="paginator-example">
                      <li><a href="#">&lt;</a></li>
                      <li><a href="#">&lt;&lt;</a></li>
                      <li><a href="#">1</a></li>
                      <li class="active"><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">&gt;</a></li>
                      <li><a href="#">&gt;&gt;</a></li>
                    </ul>
                  </div>
                  
                </div>
                </form>
              </div>
          </div>
        </div>
    </div>
  </section>
  <!-- End: Content --> 
</div>
<!-- End: Main --> 
<?php include('view/common/footer.html'); ?>