<?php include('view/common/header.html'); ?>

<!-- End: Header -->

<!-- Start: Main -->
<div id="main"> 
    <!-- Start: Sidebar -->
    <?php include('view/common/sidebar.html'); ?>
  <!-- End: Sidebar -->    
  <!-- Start: Content -->
  <section id="content">
    <div id="topbar" class="affix">
      <ol class="breadcrumb">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      </ol>
    </div>
    <div class="container">
		<div class="col-md-9">
			<div id="docs-content">
				<h2 class="page-header margin-top-none">个人信息</h2>
				<table class="table">
					<tr>
					<td colspan="2">您好，<?php echo $userinfo['admin_username'] ?></td>
					</tr>
					<tr>
					<td width="120">最后登录时间:</td>
					<td><?php echo date('Y-m-d H:i:s',$userinfo['lasttime']); ?></td>
					</tr>
					<tr>
					<td>最后登录IP:</td>
					<td><?php echo $userinfo['lastip']; ?></td>
					</tr>
				</table>

				<h2 class="page-header margin-top-none">系统信息</h2>
				<table class="table">
				  <tr>
				    <td width="100">操作系统：</td>
				    <td><?php echo $userinfo['os']; ?></td>
				  </tr>
				  <tr>
				    <td>PHP 版本:</td>
				    <td><?php echo$userinfo['pv']; ?></td>
				  </tr>
				  <tr>
				    <td>MySQL 版本:</td>
				    <td><?php echo $userinfo['mv']; ?></td>
				  </tr>
				</table>
			</div>
		</div>
    </div> 
  </section>
  <!-- End: Content --> 
</div>
<!-- End: Main --></body>
<?php include('view/common/footer.html'); ?>