<?php include('view/common/header.html'); ?>
<link rel="stylesheet" href="include/page/css.css">

<!-- End: Header -->

<!-- Start: Main -->
<div id="main"> 
    <!-- Start: Sidebar -->
   <?php include('view/common/sidebar.html'); ?> 
  <!-- End: Sidebar -->   

  <!-- Start: Content -->
  <section id="content">
    <div id="topbar" class="affix">
      <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">留言管理</li>
      </ol>
    </div>
    <div class="container">



	 <div class="row">
        <div class="col-md-12">
			<div class="panel">
                <div class="panel-heading">
                  <div class="panel-title">留言列表</div>
                </div>
                <form action="" method="post">
                <div class="panel-body">
                  <h2 class="panel-body-title">导航</h2>
                  <table class="table table-striped table-bordered table-hover dataTable">
                      <tr class="active">
                        <th class="text-center" width="100"><input type="checkbox" value="" id="checkall" class=""> 全选</th>
                        <th width="100">编号</th>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>邮箱</th>
                        <th>留言</th>
                        <th width="200">操作</th>
                      </tr>
                      <?php foreach($message as $v){ ?>
                    	<tr class="success">
                        <td class="text-center"><input type="checkbox" value="<?php echo $v['m_id'] ?>" name="midarr[]" class="cbox"></td>
                        <td><?php echo $v['m_id'] ?></td>
                        <td><?php echo $v['m_name'] ?></td>
                        <td><?php echo $v['m_phone'] ?></td>
                        <td><?php echo $v['m_email'] ?></td>
                        <td><?php echo $v['m_content'] ?></td>
                        <td>
		                      <div class="btn-group">
		                        <a onclick="return confirm('确定要删除吗？');" href="message_del.php?mid=<?php echo $v['m_id'] ?>" class="btn btn-default btn-gradient dropdown-toggle"><span class="glyphicons glyphicon-trash"></span></a>
		                      </div>
                        
                        </td>
                      </tr>
                      <?php } ?>
                  </table>
                  
                  <div class="pull-left">
                  	<button type="submit" class="btn btn-default btn-gradient pull-right delall"><span class="glyphicons glyphicon-trash"></span></button>
                  </div>
                  
                  <div class="pull-right">
                      <?php echo $page; ?>

                  </div>
                  
                </div>
                </form>
              </div>
          </div>
        </div>




        
    </div>
  </section>
  <!-- End: Content --> 
</div>
<!-- End: Main --> 
<?php include('view/common/footer.html'); ?>