<?php include('view/common/header.html'); ?>
<link rel="stylesheet" href="include/page/css.css">

<!-- End: Header -->

<!-- Start: Main -->
<div id="main"> 
    <!-- Start: Sidebar -->
   <?php include('view/common/sidebar.html'); ?> 
  <!-- End: Sidebar -->   

  <!-- Start: Content -->
  <section id="content">
    <div id="topbar" class="affix">
      <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">资讯管理</li>
      </ol>
    </div>
    <div class="container">



	 <div class="row">
        <div class="col-md-12">
			<div class="panel">
                <div class="panel-heading">
                  <div class="panel-title">资讯列表</div>
                  <a href="news_add.php" class="btn btn-info btn-gradient pull-right"><span class="glyphicons glyphicon-plus"></span>添加资讯</a>
                </div>
                <form action="" method="post">
                <div class="panel-body">
                  <h2 class="panel-body-title">资讯管理</h2>
                  <table class="table table-striped table-bordered table-hover dataTable">
                      <tr class="active">
                        <th class="text-center" width="100"><input type="checkbox" value="" id="checkall" class=""> 全选</th>
                        
                        <th>资讯标题</th>
                        <th>资讯图片</th>
                        <th>发布时间</th>
                        <th width="200">操作</th>
                      </tr>
                      <?php foreach($news as $v){ ?>
                    	<tr class="success">
                        <td class="text-center"><input type="checkbox" value="<?php echo $v['n_id'] ?>" name="nidarr[]" class="cbox"></td>
                        <td><?php echo $v['n_title'] ?></td>
                        <td><img src="<?php echo _THUMB_.$v['n_thumb'] ?>" alt="缩略图"></td>
                        <td><?php echo $v['n_time'] ?></td>
                        <td>
		                      <div class="btn-group">
		                        <a href="news_edit.php?nid=<?php echo $v['n_id'] ?>&nlid=<?php echo $nlid; ?>" class="btn btn-default btn-gradient"><span class="glyphicons glyphicon-pencil"></span></a>
		                        <a onclick="return confirm('确定要删除吗？');" href="news_del.php?nid=<?php echo $v['n_id'] ?>&nlid=<?php echo $nlid; ?>" class="btn btn-default btn-gradient dropdown-toggle"><span class="glyphicons glyphicon-trash"></span></a>
		                      </div>
                        </td>
                      </tr>
                      <?php } ?>
                  </table>
                  
                  <div class="pull-left">
                  	<button type="submit" class="btn btn-default btn-gradient pull-right delall"><span class="glyphicons glyphicon-trash"></span></button>
                  </div>
                  
                  <div class="pull-right">
                      <?php echo $page; ?>

                  </div>
                  
                </div>
                </form>
              </div>
          </div>
        </div>




        
    </div>
  </section>
  <!-- End: Content --> 
</div>
<!-- End: Main --> 
<?php include('view/common/footer.html'); ?>