

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>天下视</title>
	

<link rel="stylesheet" href="<?php echo _CSS_; ?>change_message.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/jq/jquery-ui.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

  $( function() {
    $( "#datepicker" ).datepicker();
  } );

</script>


    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script> -->
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="<?php echo _CSS_ ?>style.css">
    <style>
        body {
            margin: 0;
            padding: 0;
        }


        div {
            text-align: center;
            clear: both;
        }

        #csw_img {
            width: 90px;
            height: 50px;
            float: left;
            margin-left: 20px;
            margin-bottom: 20px;
        }

        #csw_box {
            width: 100%;
            height: 700px;
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            position: fixed;
            top: 0;
            display: none;
            z-index: 9999;
        }

        #csw_box #csw_content {
            width: 355px;
            height: 400px;
            background: #fff;
            margin: 100px auto 0;

        }

        #close {
            color: #333;
            font-size: 24px;
            cursor: pointer;
            float: right;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background: #ccc;
        }

        #close:hover {
            color: #fff;
            background: #333;
        }

        #csw_content input {
            position: relative;
            width: 300px;
            height: 40px;
            border: 1px solid #ccc;
            margin: 10px 0;
            text-indent: 20px;
        }

        #hid_user {
            display: none;
        }
        
        #csw_content #csw_but{
            text-align: center;
           
            text-indent: 0;
        }
        #csw_reg{
            position: relative;
            right: -60px;
            top: 50px;
        }
        .csw_tle{
            position: relative;
            right: 40px;
            top: 10px;
            color: red;
        }
    </style>
</head>

<body>

    <div id="csw_box">
        <div id="csw_content">

            <span title="关闭" id="close">X</span>
            <div><img id="csw_img" src="images/logo.jpg" alt="">

                <span class="csw_tle">天下视</span>
            </div>

            <form action="">
                <input placeholder="用户名" type="text" name="" id="username">
                <input placeholder="密 码" type="password" name="" id="password">
                <input type="button" value="登 录 " id="csw_but">
            </form>
            <div id="csw_reg">
                <span>如果没有请先</span> <a href="register.php">注册</a>
            </div>
        </div>
    </div>

    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="<?php echo _WEB_ ?>index.php"><img src="images/logo.jpg" alt="天下视"
                    class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link " href="<?php echo _WEB_ ?>index.php">主页<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="<?php echo _WEB_ ?>us.php">关于我们<span
                                class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="<?php echo _WEB_ ?>rec.php" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            产品展示
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="<?php echo _WEB_ ?>rec.php">产品展示</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="<?php echo _WEB_ ?>rec.php">社交网络</a>
                            <a class="dropdown-item" href="<?php echo _WEB_ ?>game.php">VR 游戏</a>
                            <a class="dropdown-item" href="<?php echo _WEB_ ?>move.php">VR 影视</a>
                            <a class="dropdown-item" href="<?php echo _WEB_ ?>recsb.php">VR 设备</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="<?php echo _WEB_ ?>new.php">新闻资讯</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<?php echo _WEB_ ?>jion.php">加入我们</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link disabled" href="<?php echo _WEB_ ?>jion.php">联系我们</a>
                    <!-- <i class="fas fa-phone-volume"></i>
                    <a class="nav-link" href="#">400-0000-0000</a> -->
                    <?php if(!isset($_COOKIE['islog']) || empty($_COOKIE['islog'])){ ?>
                    <a href="javascript:;" id="login">登录</a>
                    <a href="" id="hid_user"></a>
                    <?php }else{ ?>
                    <a href="user_info.php"><?php echo isset($_COOKIE['username'])?$_COOKIE['username']:''; ?></a>
                    <a href="out.php">&emsp;退出</a>
                    <?php } ?>
                    <!-- <a href="javascript:;" id="login">登陆</a>&emsp;
                    <a href="javascript:;">注册</a> -->
                </form>
            </div>
        </nav>
    </header>
    <script>
        // alert($.cookie('username'));
        // js获取窗口的高
        var dh = document.documentElement.clientHeight;
        // 把窗口的高赋值给遮挡层
        $('#csw_box').css('height', dh + 'px');
        // 点击登录，显示遮挡层
        $('#login').click(function () {
            $('#csw_box').css({ display: 'block' });
        });

        $('#close').click(function () {
            $('#csw_box').css({ display: 'none' });
        });

        $('#csw_but').click(function () {
            // 获取表单元素值
            var username = $('#username').val();
            var password = $('#password').val();
            $.post(
                'login.php',
                { username: username, password: password },
                function (result) {

                    // alert(result)
                    if (result == 1) {
                        $('#login').css('display', 'none');
                        $('#hid_user').text(username);
                        $('#hid_user').attr('href', 'user_info.php');
                        $('#hid_user').css('display', 'inline');
                        $('#csw_box').css({ display: 'none' });
                    } else {
                        alert('用户名密码错误');
                    }
                }
            );
            // 返回 登录状态
        });
    </script>




  <?php //include('view/common/header.html'); ?>

	<div class="container mt">
		<div class="main_nav">
			<nav>
				<a href="index.php">首页</a>
				&gt;
				<a href="user_info.php">用户中心</a>
			</nav>
		</div>
		<div class="main">
			<form action="" method="post" id="userimgform" enctype="multipart/form-data">
			<div class="main_left">
				<div class="phone" id="drop_area">	


						<div class="photo"><a href="javascript:;"><img src="<?php echo _THUMB_.$userinfo['u_photo2'] ?>" alt=""></a></div>
						<input type="text" name="text" style="display:none" value="1">
						<input  type="file" name="upload" style="display:none" id="file"><br>
					
					<span> &emsp;<?php echo $userinfo['u_name'] ?></span>


					
				</div>

				<a href="user_info.php"><p class="p1">基本信息</p></a> 
				<!-- <a href="message.php"><p>客户留言 </p></a> -->
			</div>
			<div class="main_right">
				<h1>基本信息修改</h1>
				<!-- <form action="" method="POST"> -->
					<table>
						<tr>
							<td>用户名</td>
							<td>
								<input class="txt" value="<?php echo $userinfo['u_name'] ?>" type="text" placeholder="请输入用户名" name="u_name" id="">
							</td>
						</tr>
						<tr>
							<td>真实姓名
								
							</td>
							<td>
								<input class="txt" type="text" value="<?php echo $userinfo['u_real'] ?>" placeholder="请输入姓名" name="u_real" id="">
							</td>
						</tr>

						<tr class="cswtr">
								<td colspan="2">
									<p id="tip"></p>
								</td>
							</tr>

						<tr>
							<td>性别</td>
							<td>
								<input type="radio" name="u_sex" id="man" <?php echo $userinfo['u_sex'] == 1?'checked="checked"':'' ; ?> value="1">
								<label for="man">男</label>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio" name="u_sex" id="woman" <?php echo $userinfo['u_sex'] == 0?'checked="checked"':'' ; ?> value="0">
								<label for="woman">女</label>
							</td>
						</tr>
						<tr>
							<td>手机</td>
							<td>
								<input class="txt" type="text" value="<?php echo $userinfo['u_phone'] ?>" placeholder="请输入手机号" name="u_phone" id="">
							</td>
						</tr>

						<tr class="cswtr">
								<td colspan="2">
									<p id="ptip"></p>
								</td>
							</tr>

						<tr>
							<td>E-mail</td>
							<td>
								<input class="txt" type="text" value="<?php echo $userinfo['u_email'] ?>" placeholder="请输入邮箱" name="u_email" id="">
							</td>
						</tr>

						<tr class="cswtr">
								<td colspan="2">
									<p id="atip"></p>
								</td>
							</tr>


						<tr>
							<td>生日</td>
							<td>
								<input class="txt" readonly="readonly" type="text" value="<?php echo $userinfo['u_birthday'] ?>" placeholder="请输入您的生日" name="u_birthday" id="datepicker">
							</td>
						</tr>
						<tr>
							<td>&emsp;</td>
							<td >
								<input type="submit" name="csub" class="cswbtn" value="保存">
								<a  class="cswa" href="change_password.php">修改密码</a>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div class="bottom"></div>
	</div>
		<?php include('view/common/footer.html'); ?>

<!-- 导航滚动条 -->
<!-- <script src='js/nav_scroll.js'></script> -->
<script src='js/chang_message.js'></script>
<script src='js/upload.js'></script>
<script>

		( function( factory ) {
		if ( typeof define === "function" && define.amd ) {
	
			// AMD. Register as an anonymous module.
			define( [ "../widgets/datepicker" ], factory );
		} else {
	
			// Browser globals
			factory( jQuery.datepicker );
		}
	}( function( datepicker ) {
	
	datepicker.regional[ "zh-CN" ] = {
		closeText: "关闭",
		prevText: "&#x3C;上月",
		nextText: "下月&#x3E;",
		currentText: "今天",
		monthNames: [ "一月","二月","三月","四月","五月","六月",
		"七月","八月","九月","十月","十一月","十二月" ],
		monthNamesShort: [ "一月","二月","三月","四月","五月","六月",
		"七月","八月","九月","十月","十一月","十二月" ],
		dayNames: [ "星期日","星期一","星期二","星期三","星期四","星期五","星期六" ],
		dayNamesShort: [ "周日","周一","周二","周三","周四","周五","周六" ],
		dayNamesMin: [ "日","一","二","三","四","五","六" ],
		weekHeader: "周",
		dateFormat: "yy-mm-dd",
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: true,
		yearSuffix: "年" };
	datepicker.setDefaults( datepicker.regional[ "zh-CN" ] );
	
	return datepicker.regional[ "zh-CN" ];
	
	} ) );


	function changepic() {
	$("#prompt3").css("display", "none");
	var reads = new FileReader();
	f = document.getElementById('file').files[0];
	reads.readAsDataURL(f);
	reads.onload = function(e) {
	document.getElementById('img3').src = this.result;
	$("#img3").css("display", "block");
	};
	}


	$('.photo').click(function(){
		$('input[name="upload"]').trigger('click');
	});
	
	
	
	// var dragImgUpload = new DragImgUpload("#drop_area",{
	// 	callback:function (files) {
	// 		//回调函数，可以传递给后台等等
	// 		var file = files[0];
	// 		console.log(file.name);
	// 	}
	// })
	
	$("#file").change(function () {
		setTimeout(function () {
			$("#userimgform").submit();
		},100);
	});



	</script>