<?php include('view/common/meta.html'); ?>
<link rel="stylesheet" href="<?php echo _CSS_; ?>change_message.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/jq/jquery-ui.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
<body>
	<div class="container">
			<?php include('view/common/header.html'); ?>
		<div class="main_nav">
			<nav>
				<a href="index.php">首页</a>
				&gt;
				<a href="user_info.php">用户中心</a>
			</nav>
		</div>
		<div class="main">
			<form action="" method="post" id="userimgform" enctype="multipart/form-data">
			<div class="main_left">
				<div class="phone" id="drop_area">	


						<div class="photo"><a href="javascript:;"><img src="<?php echo _THUMB_.$userinfo['u_photo2'] ?>" alt=""></a></div>
						<input type="text" name="text" style="display:none" value="1">
						<input  type="file" name="upload" style="display:none" id="file"><br>
					
					<span> &emsp;<?php echo $userinfo['u_name'] ?></span>


					
				</div>

				<a href="user_info.php"><p class="p1">基本信息</p></a> 
				<a href="message.php"><p>客户留言 </p></a>
			</div>
			<div class="main_right">
				<h1>基本信息修改</h1>
				<!-- <form action="" method="POST"> -->
					<table>
						<tr>
							<td>用户名</td>
							<td>
								<input class="txt" value="<?php echo $userinfo['u_name'] ?>" type="text" placeholder="请输入用户名" name="u_name" id="">
							</td>
						</tr>
						<tr>
							<td>真实姓名
								
							</td>
							<td>
								<input class="txt" type="text" value="<?php echo $userinfo['u_real'] ?>" placeholder="请输入姓名" name="u_real" id="">
							</td>
						</tr>

						<tr class="cswtr">
								<td colspan="2">
									<p id="tip"></p>
								</td>
							</tr>

						<tr>
							<td>性别</td>
							<td>
								<input type="radio" name="u_sex" id="man" <?php echo $userinfo['u_sex'] == 1?'checked="checked"':'' ; ?> value="1">
								<label for="man">男</label>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio" name="u_sex" id="woman" <?php echo $userinfo['u_sex'] == 0?'checked="checked"':'' ; ?> value="0">
								<label for="woman">女</label>
							</td>
						</tr>
						<tr>
							<td>手机</td>
							<td>
								<input class="txt" type="text" value="<?php echo $userinfo['u_phone'] ?>" placeholder="请输入手机号" name="u_phone" id="">
							</td>
						</tr>

						<tr class="cswtr">
								<td colspan="2">
									<p id="ptip"></p>
								</td>
							</tr>

						<tr>
							<td>E-mail</td>
							<td>
								<input class="txt" type="text" value="<?php echo $userinfo['u_email'] ?>" placeholder="请输入邮箱" name="u_email" id="">
							</td>
						</tr>

						<tr class="cswtr">
								<td colspan="2">
									<p id="atip"></p>
								</td>
							</tr>


						<tr>
							<td>生日</td>
							<td>
								<input class="txt" readonly="readonly" type="text" value="<?php echo $userinfo['u_birthday'] ?>" placeholder="请输入您的生日" name="u_birthday" id="datepicker">
							</td>
						</tr>
						<tr>
							<td>&emsp;</td>
							<td >
								<input type="submit" name="csub" class="cswbtn" value="保存">
								<a  class="cswa" href="change_password.php">修改密码</a>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div class="bottom"></div>
		<div class="foot">
			<p>粤ICP备12022584号-3</p>
			<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
		</div>
	</div>
</body>
</html>
<!-- 导航滚动条 -->
<script src='js/nav_scroll.js'></script>
<script src='js/chang_message.js'></script>
<script src='js/upload.js'></script>
<script>

		( function( factory ) {
		if ( typeof define === "function" && define.amd ) {
	
			// AMD. Register as an anonymous module.
			define( [ "../widgets/datepicker" ], factory );
		} else {
	
			// Browser globals
			factory( jQuery.datepicker );
		}
	}( function( datepicker ) {
	
	datepicker.regional[ "zh-CN" ] = {
		closeText: "关闭",
		prevText: "&#x3C;上月",
		nextText: "下月&#x3E;",
		currentText: "今天",
		monthNames: [ "一月","二月","三月","四月","五月","六月",
		"七月","八月","九月","十月","十一月","十二月" ],
		monthNamesShort: [ "一月","二月","三月","四月","五月","六月",
		"七月","八月","九月","十月","十一月","十二月" ],
		dayNames: [ "星期日","星期一","星期二","星期三","星期四","星期五","星期六" ],
		dayNamesShort: [ "周日","周一","周二","周三","周四","周五","周六" ],
		dayNamesMin: [ "日","一","二","三","四","五","六" ],
		weekHeader: "周",
		dateFormat: "yy-mm-dd",
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: true,
		yearSuffix: "年" };
	datepicker.setDefaults( datepicker.regional[ "zh-CN" ] );
	
	return datepicker.regional[ "zh-CN" ];
	
	} ) );


	function changepic() {
	$("#prompt3").css("display", "none");
	var reads = new FileReader();
	f = document.getElementById('file').files[0];
	reads.readAsDataURL(f);
	reads.onload = function(e) {
	document.getElementById('img3').src = this.result;
	$("#img3").css("display", "block");
	};
	}


	$('.photo').click(function(){
		$('input[name="upload"]').trigger('click');
	});
	
	
	
	// var dragImgUpload = new DragImgUpload("#drop_area",{
	// 	callback:function (files) {
	// 		//回调函数，可以传递给后台等等
	// 		var file = files[0];
	// 		console.log(file.name);
	// 	}
	// })
	
	$("#file").change(function () {
		setTimeout(function () {
			$("#userimgform").submit();
		},100);
	});



	</script>