<?php include('view/common/meta.html'); ?>
<link rel="stylesheet" href="css/change_password.css">
<body>
	<div class="container">

			<?php include('view/common/header.html'); ?>

		<div class="main_nav">
			<nav>
				<a href="index.php">首页</a>
				&gt;
				<a href="user_info.php">用户中心</a>
			</nav>
		</div>
		<div class="main">
			<div class="main_left">
				<div class="phone">
					<div><img src="<?php echo _THUMB_.$userinfo['u_photo2'] ?>" alt=""></div>
					<p><?php echo $userinfo['u_name'] ?></p>
				</div>
				<a href="user_info.php"><p class="p1">基本信息</p></a> 
				<a href="message.php"><p>客户留言 </p></a>
			</div>
			<div class="main_right">
				<h1>修改密码</h1>
				<form action="" method="post">
				<table>
					<tr>
						<td>用户名</td>
						<td>用户名</td>
					</tr>
					<tr>
						<td>原密码</td>
						<td>
							<input class="txt txt_01" type="password" placeholder="请输入原密码" name="password" id="cswpass">
							<a href="javascript:;" id="cswimg"><img src="images/look_02.jpg" alt=""></a> 
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td style="display:<?php echo $isshow; ?>">
							<p class="pass_p" id="tip"><?php echo $tip; ?> </p>
						</td>
					</tr>
					<tr>
						<td>设置新密码</td>
						<td>
							<input class="txt" type="password" placeholder="请输入密码" name="changepassword" id="">
						</td>
					</tr>
					<tr>
						<td>确认新密码</td>
						<td>
							<input class="txt" type="password" placeholder="请输入密码" name="rechangepassword" id="">
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td class="submit">
							<input type="submit" value="确认修改">
						</td>
					</tr>
				</table>
				</form>
			</div>
		</div>
		<div class="bottom"></div>
		<div class="foot">
			<p>粤ICP备12022584号-3</p>
			<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
		</div>
	</div>
</body>
</html>
<!-- 导航滚动条 -->
<script src='js/nav_scroll.js'></script>

<script>
	$('#cswimg').mousedown(function(){
	$('input[name="password"]').prop({'type':'text'});
	});
	$('#cswimg').mouseup(function(){
		$('input[name="password"]').prop({'type':'password'});
	});

// var cswpass = document.getElementById("cswpass");
// var cswimg = document.getElementById("cswimg");

// cswimg.onlick = function(){
//     if(cswpass.type == "password"){
//         cswpass.type = "text";
//     }else{
//         cswpass.type = "password";
//     }
// }


var objform = document.querySelector("form")
var objpass = document.querySelector("input[name=password]")
var ptip = document.getElementById("tip")

objpass.onblur = function(){
    var pass = objpass.value
    if(pass ==""){
        ptip.innerHTML="请输入密码！"
        return false;
    }
	//  if(md5(pass) != <?php //echo $userinfo['password'];  ?>)
    //     ptip.innerHTML="输入密码的不正确"
    //     return false;
    // }
    return ture;
}
objpass.onfocus = function(){
    ptip.innerHTML=""
}











</script>