<link rel="stylesheet" href="<?php echo _CSS_ ?>css.css">
<!-- header start -->
<?php  include('./view/common/header.html') ; ?>
<!-- header start -->

    <nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?php echo _WEB_ ?>index.php">主页</a></li>
            <li class="breadcrumb-item"><a href="<?php echo _WEB_ ?>rec.php">产品展示</a></li>
            <li class="breadcrumb-item active" aria-current="page">VR 游戏</li>
        </ol>
        <a href="">更多</a>
    </nav>
    <div class="rec container mpz">
        <h2 class="po">VR 热门游戏</h2>
        <div class="row">
                <?php foreach ($game as $v) { ?>
                    <div class="col-lg-4">
                <div class="card mbo">
                    <img class="card-img-top" src="<?php echo _UPLOAD_.$v['r_img'] ?>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><?php echo $v['r_title'] ?></h5>
                        <p class="card-text"><?php echo $v['r_txt'] ?></p>
                        <a href="recmdet.php?rid=<?php echo $v['r_id'] ?>&rlid=<?php echo $v['rl_id'] ?>" class="btn btn-primary">了解详情</a>
                    </div>
                </div>
            </div>
            <?php } ?>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                        <?php echo $pagelink ?>
                        
                    </li>
                </ul>
    </nav>    


<!-- footer start -->
<?php include('view/common/footer.html') ?>
<!-- footer end -->
