<!-- header start -->
<?php  include('./view/common/header.html') ; ?>
<!-- header start -->

    <div class="container mt container mpz">
        <h3 class="tac">加入我们</h3>

        <?php echo $jion['a_content'] ?>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            
            <!-- <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">上一页</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">下一页</a>
            </li> -->
        </ul>
    </nav>

<!-- footer start -->
<?php include('view/common/footer.html') ?>
<!-- footer end -->

<script src="./js/jion.js"></script>
<!-- <script>
    var tj = document.getElementById('tj');
    var fr = document.getElementById('fr');
    ji.onclick = function(){
        fr.style.display="hidden";
        fr.style.display="none";
        fr.style.zIndex="-3";
    }

</script> -->