<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>加入我们</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../csw.css"> -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./cs/style.css">
</head>

<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt="天下视" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="index.html">主页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            关于我们
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="us.html">关于我们</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="us.html">企业介绍</a>
                            <a class="dropdown-item" href="usw.html">企业文化</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="rec.html" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            产品展示
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="rec.html">产品展示</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="game.html">社交网络</a>
                            <a class="dropdown-item" href="game.html">VR 游戏</a>
                            <a class="dropdown-item" href="move.html">VR 影视</a>
                            <a class="dropdown-item" href="recsb.html">VR 设备</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            新闻动态
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="new.html">新闻动态</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="new2.html">企业新闻</a>
                            <a class="dropdown-item" href="new2.html">行业新闻</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="jion.html">加入我们</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link disabled" href="jion.html">联系我们</a>
                    <i class="fas fa-phone-volume"></i>
                    <a class="nav-link" href="#">400-0000-0000</a>
                </form>
            </div>
        </nav>
    </header>
    <div class="container mt container mpz">
        <h3 class="tac">加入我们</h3>
        <div class="card text-center">
            <div class="card-header">
                <h4>体验设计师</h4>
                <p>2019-02-27 / 地点： 深圳 / 人数：2 人 / 待遇： 10K+</p>
            </div>
            <div class="card-body pad">
                <h5 class="card-title tal">工作内容:</h5>
                <ol class="tal">
                    <li>1. 负责佳能全系列产品在3-5级城市的市场开拓；</li>
                    <li>2. 收集分析市场信息，规划当地的市场策略；</li>
                    <li>3. 协调公司内部各个产品部门支持3-5级城市的总体市场销售。</li>
                </ol>
                <h5 class="card-title tal">要求:</h5>
                <ol class="tal">
                    <li>1. 大专以上学历，28岁以上，3年以上大型公司市场或者销售工作经验；</li>
                    <li>2. 文案策划能力强，对市场敏锐度高，熟悉IT/OA/数码行业；</li>
                    <li>3. 具有对产品以及市场的规划、统筹能力，能适应适当出差；</li>
                    <li>4. 会英语尤佳；</li>
                    <li>5. 具备协调沟通能力;</li>
                </ol>
            </div>
            <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target=".bd-example-modal-lg">在线联系</button>

                <div id="fr" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form class="auto pdt" method="get" action="">
                                <table>
                                    <tr>
                                        <td>姓名：</td>
                                        <td><input class="txt" type="text" name="username"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p id="tip"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>姓别：</td>
                                        <td>
                                            <input type="radio" name="sex" id="man" checked><label for="man">男</label>
                                            <input type="radio" name="sex" id="wom"><label for="wom">女</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>年龄：</td>
                                        <td><input class="txt" type="text" name="ages"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p id="atip"></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>电话：</td>
                                        <td><input class="txt" type="text" name="phone"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p id="ptip"></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>邮件：</td>
                                        <td><input class="txt" type="text" name="email"></td>
                                    </tr>
                                    <tr>
                                        <td>学历：</td>
                                        <td>
                                            <select class="txt" name="" id="">
                                                <option value="">大专</option>
                                                <option value="" selected>本科</option>
                                                <option value="">本科以上</option>
                                                <option value="">大专以下</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vat">工作经历:</td>
                                        <td>
                                           <textarea name="" id="" cols="42" rows="10"></textarea>
                                        </td>
                                    </tr>
                                </table>
                               <button  type="submit" class="btn btn-primary ">提交</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>            </div>
        </div>
        <div class="card text-center container mpz">
            <div class="card-header">
                <h4>设计总监</h4>
                <p>2019-02-27 / 地点： 深圳 / 人数：1 人 / 待遇： 20K+</p>
            </div>
            <div class="card-body pad">
                <h5 class="card-title tal">工作内容:</h5>
                <ol class="tal">
                    <li>1. 制定平台的运营模式、策略及目标，并推动落地实施，挖掘用户的消费习惯和消费场景，优化服务选型；</li>
                    <li>2.
                        配合公司整体战略，规划完善公司的会员体系、激励机制和会员权益创新管理总体策略，提升用户的忠诚度及粘性，精通用户生命周期管理理念和精准营销数据分析的结论，提升包括留存率、高价值会员占比、老客销售占比等核心CRM指标。
                    </li>
                    <li>3. 策划运营活动，提升用户活跃度，负责网站促销方式，通过有效的促销活动，提升整体GMV；</li>
                    <li>4 .通过有效的数据分析，掌握运营状况，并做出针对性的调整；</li>
                </ol>
                <h5 class="card-title tal">要求:</h5>
                <ol class="tal">
                    <li>1. 大学本科以上学历，30岁以上，5年以上大型公司市场或者销售工作经验；</li>
                    <li>2. 3年以上大型平台运营工作经验，具备一定规模团队的管理能力；</li>
                    <li>3. 会英语尤佳；</li>
                    <li>4. 具备良好的执行力和团队合作精神 。 </li>
                </ol>
            </div>
            <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target=".bd-example-modal-lg">在线联系</button>

                <div id="fr" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form class="auto pdt">
                                <table>
                                    <tr>
                                        <td>姓名：</td>
                                        <td><input class="txt" type="text" name="username"></td>
                                    </tr>
                                    <tr>
                                        <td>姓别：</td>
                                        <td>
                                            <input type="radio" name="sex" id="man" checked><label for="man">男</label>
                                            <input type="radio" name="sex" id="wom"><label for="wom">女</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>年龄：</td>
                                        <td><input class="txt" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>电话：</td>
                                        <td><input class="txt" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>邮件：</td>
                                        <td><input class="txt" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>学历：</td>
                                        <td>
                                            <select class="txt" name="" id="">
                                                <option value="">大专</option>
                                                <option value="" selected>本科</option>
                                                <option value="">本科以上</option>
                                                <option value="">大专以下</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vat">工作经历:</td>
                                        <td>
                                           <textarea name="" id="" cols="42" rows="10"></textarea>
                                        </td>
                                    </tr>
                                </table>
                               <button id="tj" type="submit" class="btn btn-primary ">提交</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>            </div>
        </div>
        <div class="card text-center container mpz">
            <div class="card-header">
                <h4>设计师</h4>
                <p>2019-02-27 / 地点： 深圳 / 人数：5 人 / 待遇： 10K+</p>
            </div>
            <div class="card-body pad">
                <h5 class="card-title tal">工作内容:</h5>
                <ol class="tal">
                    <li>1. 负责公司及客户软件的网页广告，包括图片、动画、彩页的设计与制作；</li>
                    <li>2. 负责对网页的风格、色彩、布局设计工作，图片美化处理；</li>
                    <li>3. 负责公司旗下网站平台的策划、设计、切图、排版、改版； </li>
                    <li>4. 负责公司自媒体平台产品界面图片进行创意设计、美化、排版；</li>
                    <li>5. 负责对公司线上活动广告宣传进行创意策划、排版、美工设计；</li>
                    <li>6. 负责公司主要网站的日常页面更新与维护，进行必要的改版；</li>
                    <li>7. 协助配合其他部门以及上级领导完成其他工作安排。</li>
                </ol>
                <h5 class="card-title tal">要求:</h5>
                <ol class="tal">
                    <li>1. 大专以上学历，23岁以上，1年以上设计工作经验；</li>
                    <li>2. 设计兴趣浓厚，具有良好的审美观、优秀的视觉创意能力和设计执行能力；</li>
                    <li>3. 对市场设计有良好的洞悉能力，擅长色彩搭配及创意设计；</li>
                    <li>4. 熟练使用CorelDraw、Illustrator等美术设计软件等美术设计软件</li>
                    <li>5. 精通Photoshop/Flash/Dreamweaver/Fireworks等网页制作软件 。 </li>
                </ol>
            </div>
            <div class="card-footer text-muted">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target=".bd-example-modal-lg">在线联系</button>

                <div id="fr" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form class="auto pdt">
                                <table>
                                    <tr>
                                        <td>姓名：</td>
                                        <td><input class="txt" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>姓别：</td>
                                        <td>
                                            <input type="radio" name="sex" id="man" checked><label for="man">男</label>
                                            <input type="radio" name="sex" id="wom"><label for="wom">女</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>年龄：</td>
                                        <td><input class="txt" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>电话：</td>
                                        <td><input class="txt" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>邮件：</td>
                                        <td><input class="txt" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>学历：</td>
                                        <td>
                                            <select class="txt" name="" id="">
                                                <option value="">大专</option>
                                                <option value="" selected>本科</option>
                                                <option value="">本科以上</option>
                                                <option value="">大专以下</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vat">工作经历:</td>
                                        <td>
                                           <textarea name="" id="" cols="42" rows="10"></textarea>
                                        </td>
                                    </tr>
                                </table>
                               <button id="tj" type="submit" class="btn btn-primary ">提交</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">上一页</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">下一页</a>
            </li>
        </ul>
    </nav>

    <footer class="bgc">
        <div class="container">
            <div class="row ft">
                <div class="col-lg-7">
                    <div class="rwo">
                        <div class="col-lg-12 mpz">
                            <h5>联系我们</h5>
                        </div>
                        <div class="col-lg-12 mpz">
                            <h6 class="po">天下视</h6>
                        </div>
                        <div class="row pp">
                            <div class="col-lg-6">
                                <p> 地址：广东省深圳市科兴科学园</p>
                                <p>手机：17303169207 / 18501562740</p>
                                <p> 邮编：517000</p>
                            </div>
                            <div class="col-lg-6 ">
                                <p> 传真：0755-88886666</p>
                                <p>电话：0755-88886666</p>
                                <p>邮箱: 1484552626@qq.com</p>
                            </div>
                            <div class="col-lg-2">
                                <p>
                                    关注我们:
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <img src="images/tcs.jpg" alt="" class="tcs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="images/tab.png" alt="" class="tab">
                </div>
            </div>
        </div>
        <div class="container bgb">
            <span>
                Copyright 2018
                <a href="#" class="fta">www.tcsvr.com</a>
            </span>
        </div>
    </footer>
</body>

</html>
<script src="./js/jion.js"></script>
<!-- <script>
    var tj = document.getElementById('tj');
    var fr = document.getElementById('fr');
    ji.onclick = function(){
        fr.style.display="hidden";
        fr.style.display="none";
        fr.style.zIndex="-3";
    }

</script> -->