<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻动态</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../csw.css"> -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./cs/style.css">
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt="天下视" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="index.html">主页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            关于我们
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="us.html">关于我们</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="us.html">企业介绍</a>
                            <a class="dropdown-item" href="usw.html">企业文化</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="rec.html" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            产品展示
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="rec.html">产品展示</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="game.html">社交网络</a>
                            <a class="dropdown-item" href="game.html">VR 游戏</a>
                            <a class="dropdown-item" href="move.html">VR 影视</a>
                            <a class="dropdown-item" href="recsb.html">VR 设备</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            新闻动态
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="new.html">新闻动态</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="new2.html">企业新闻</a>
                            <a class="dropdown-item" href="new2.html">行业新闻</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jion.html">加入我们</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link disabled" href="jion.html">联系我们</a>
                    <i class="fas fa-phone-volume"></i>
                    <a class="nav-link" href="#">400-0000-0000</a>
                </form>
            </div>
        </nav>
    </header>
    <nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">主页</a></li>
            <li class="breadcrumb-item"><a href="new.html">新闻动态</a></li>
            <li class="breadcrumb-item"><a href="new2.html">行业新闻</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dream World</li>
        </ol>
        <a href="">更多</a>
    </nav>
    <div class="container"> 
        <div class="row">
        <div class="col-lg-8 xsy ">
            <h3>足不出户即可浪漫约会 VR社交这次真的来了</h3>
            <p>在科技行业中，VR（虚拟现实）一直是近两年比较热门话题，除了我们熟知的HTC、索尼、Facebook等国外大厂，国内也有数百家VR公司如雨后春笋般不断冒出。随着VR设备被越来越多的人熟知，大家关心的话题也从“VR到底是什么”变成了“我能用VR玩什么”。</p>
            <p>无论是HTC Vive、oculus等主机头盔，还是诸如Gear VR、暴风魔镜这些移动设备，平台上大部分内容还是一些简单的小游戏和体验类Demo，这些并不足以让用户长时间对VR设备提起兴趣。内容的匮乏让VR市场并没有预期的那么火爆，于是有不少内容团队都开始尝试“VR+社交”的概念，各大视频直播平台、硬件厂商，都陆续推出了自家的VR社交产品。</p>
            <p>而今天笔者介绍的，则是国内一家名为DreamVR的初创团队打造的一款VR社交平台——Dream World。</p>
            <p class="img"><img src="http://cms-bucket.nosdn.127.net/87c6a3d7c74a4c3282d4d609ee7228c020160812083750.jpeg" alt=""></p>
            <p>进入开始画面我们会看到熟悉的创建角色的面板，姓名、性别、肤色等一系列按钮一目了然。</p>
            <p>虽值得一提的是，有梦社交平台里不仅加入了个性服饰的选择，还加入了捏脸这个功能，这个在传统大型端游里出现的功能无疑让该款App一上来就增分不少。</p>
            <p class="img"><img src="http://cms-bucket.nosdn.127.net/636e157f172446b6a8c448727eede16820160812083758.jpeg" alt=""></p>
            <p>创建角色之后，你会进到一个风格简约大气的海景房，没错这就是你在虚拟世界中的家。房间里的设施很齐全，并且可以依照玩家自己的喜欢进行个性化装扮。</p>
            <p>一个人守着空荡荡的房间一定会觉得特别寂寞，这时我们就可以邀请平台上的其他好友来家中做客。DreamWorld为我们提供了许多小游戏，斗地主、狼人杀、麻将等聚会游戏，都可以在家中与好友畅玩。</p>
            <p class="img"><img src="http://cms-bucket.nosdn.127.net/d422264833f54cba9de73e4e65d014d220160812083806.jpeg" alt=""></p>
            <p>想和另一半在家中玩玩情调？DreamWorld当然也可以帮你实现。为心爱的人弹奏一曲动听的音乐，同时还可以和你的Ta来一次浪漫的海边漫步。</p>
            <p>在家中待时间久了未免会感到无趣，通过视选的方式我们可以来到另外一个场景，比如笔者接下来要介绍的这个IMAX电影院。</p>
            <p class="img"><img src="http://cms-bucket.nosdn.127.net/cda8aff39f8b4ea7801a23adf65e235520160812083814.jpeg" alt=""></p>
            <p>首先映入眼帘的是一个科幻感十足的“购票大厅”，共有“包场”和“选座”两个选项供用户选择。顾名思义，包场选项就是你一个人承包了整个影院，我们除了可以邀请多名自己的好友一同观影，也可以一起吐槽聊天。</p>
            <p>如果你是一个喜欢交朋友的人，也可以像现实一样选择购票选座的方式。选场的好处是可以和更多陌生人进行联系，并且这些人和你有同样的观影爱好。根据影片类型进行陌生交友。想想就是一件十分有趣的事情。</p>
            <p>最主要的是，影片片源均有光线传媒正版授权，并且还有不少独家院线大片呦</p>
            <p>该款App采用了独家的语音交互技术，我们可以和同在电影院里的小伙伴用语音这种最直接的方式进行交流，获得最贴近真实的体验</p>
            <p>虽说虚拟现实影视先行，但游戏依然是不可忽略的一点。除了卡牌类的游戏，DreamVR也在紧锣密鼓的为该款应用添加一个“秘密武器”。因为游戏还在开发中，这里就先卖个关子，不过可以透露的是这一个绝对、绝对、绝对意想不到的游戏。</p>
            <p>除了打造这个VR社交平台，笔者发现该团队也在其他领域进行了不少尝试。</p>
            <p>比如跳票多年的动漫电影《大鱼海棠》的VR预告片就是这个团队给做的，纵观国内这方面的作品好像真的只有这一款了。之后又与现在最会搞品牌营销的Uber进行合作，为该品牌现场提供了VR方面的艺术体验。据悉，为了让Dream World的社交属性更为浓郁，DreamVR正页为新浪微博打造了VR版的H5游戏。（本文来源：VR观察 责任编辑：丁广胜_NT1941）</p>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                  相关推荐
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <a href="vtime.html">Vtime XR为VR社交网络推出AR模式</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newai.html">将AI 接入VR</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newcat.html">VR社交有戏？VRChat用户量已达150万</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newsb3.html">VR/AR设备汇总</a>
                    </li>
                </ul>
              </div>
        </div>
    </div>
    </div>
    <footer class="bgc">
        <div class="container">
            <div class="row ft">
                <div class="col-lg-7">
                    <div class="rwo">
                        <div class="col-lg-12 mpz">
                            <h5>联系我们</h5>
                        </div>
                        <div class="col-lg-12 mpz">
                            <h6 class="po">天下视</h6>
                        </div>
                        <div class="row pp">
                            <div class="col-lg-6">
                                <p> 地址：广东省深圳市科兴科学园</p>
                                <p>手机：17303169207 / 18501562740</p>
                                <p> 邮编：517000</p>
                            </div>
                            <div class="col-lg-6 ">
                                <p> 传真：0755-88886666</p>
                                <p>电话：0755-88886666</p>
                                <p>邮箱: 1484552626@qq.com</p>
                            </div>
                            <div class="col-lg-2">
                                <p>
                                    关注我们:
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <img src="images/tcs.jpg" alt="" class="tcs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="images/tab.png" alt="" class="tab">
                </div>
            </div>
        </div>
        <div class="container bgb">
            <span>
                Copyright 2018
                <a href="#" class="fta">www.tcsvr.com</a>
            </span>
        </div>
    </footer>
</body>
</html>