<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻动态</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../csw.css"> -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./cs/style.css">
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt="天下视" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="index.html">主页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            关于我们
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="us.html">关于我们</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="us.html">企业介绍</a>
                            <a class="dropdown-item" href="usw.html">企业文化</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="rec.html" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            产品展示
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="rec.html">产品展示</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="game.html">社交网络</a>
                            <a class="dropdown-item" href="game.html">VR 游戏</a>
                            <a class="dropdown-item" href="move.html">VR 影视</a>
                            <a class="dropdown-item" href="recsb.html">VR 设备</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            新闻动态
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="new.html">新闻动态</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="new2.html">企业新闻</a>
                            <a class="dropdown-item" href="new2.html">行业新闻</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jion.html">加入我们</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link disabled" href="jion.html">联系我们</a>
                    <i class="fas fa-phone-volume"></i>
                    <a class="nav-link" href="#">400-0000-0000</a>
                </form>
            </div>
        </nav>
    </header>
    <nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">主页</a></li>
            <li class="breadcrumb-item"><a href="new.html">新闻动态</a></li>
            <li class="breadcrumb-item"><a href="new2.html">行业新闻</a></li>
            <li class="breadcrumb-item active" aria-current="page">AR/VR头盔</li>
        </ol>
        <a href="">更多</a>
    </nav>
    <div class="container"> 
        <div class="row">
        <div class="col-lg-8 xsy ">
            <h3>高通拟与原始设备制造商合作 为智能手机打造AR/VR头盔</h3>
            <p>为了支持它们的发展，高通表示，它将扩大其HMD加速器计划(HAP)，帮助制造商降低工程成本和缩短发货时间。</p>
            <p class="img"><img src="http://inews.gtimg.com/newsapp_bt/0/7869219348/641" alt=""></p>
            <p>腾讯科技讯 据外媒报道，高通认为，高端智能手机有能力支持虚拟现实(VR)和增强现实(AR)体验，因此，它准备与原始设备制造商合作，为智能手机打造AR/VR头盔。</p>
            <p>今天，在巴塞罗那举行的世界移动大会上，该公司详细介绍了全球首款扩展现实XR专用芯片，该芯片支持小米、vivo、一加、LG、黑鲨和华硕等公司的高端手机与AR/VR头盔连接使用。</p>
            <p>这家圣地亚哥芯片制造商表示，XR扩展现实专用芯片提供由内向外的六自由度(6DoF)跟踪。它们通过USB Type-C连接到包含其旗舰芯片组Snapdragon 855的手机上。(例如，三星最新发布的Galaxy S10系列、LG的G8 ThinQ和V50 ThinQ 5G以及索尼的Xperia 10、10 Plus和1。)</p>
            <p>这些AR/VR头盔通常以较低的价格出售，并与手机捆绑在一起销售，而且很快就会带有一个特殊的兼容性标志图标，表明它们已经达到了某些基准性能和兼容性阈值。</p>
            <p>第一批与基于Snapdragon 855的手机兼容的XR平台是宏碁的Ojo头盔(Ojo Headset)和Nreal的Light AR眼镜，将来还会兼容宏碁、小鸟看看科技(Pico)、Arvizio公司、网易AR、Ioniconic Engine公司、直播VR公司NextVR、商汤科技、宏达电(HTC)和AR平台公司Wikitude等其他原始设备制造商的设备。</p>
            <p>为了支持它们的发展，高通表示，它将扩大其HMD加速器计划(HAP)，帮助制造商降低工程成本和缩短发货时间。>
            <p>高通公司产品管理高级总监雨果-斯沃特(Hugo Swart)说：“我们的HMD加速器计划一直是从零部件供应商到ODM(原始设计制造商)等生态系统合作伙伴的关键催化剂，旨在促使它们向消费者提供优质的独立XR头盔。在此计划的基础上，我们将把这一点扩展到XR平台和兼容的智能手机上，首先从采用Snapdragon 855的智能手机开始。通过与生态系统各相关方合作，我们正在努力实现一个共同目标，即通过5G提供优质的、身临其境的体验，从而改变世界的连接和通信方式。”</p>
            <p>在高通重新致力于打造XR芯片的前两年，该公司宣布了一款基于Snapdragon 820片上系统芯片的独立VR头盔，并在一年多一点的时间里发布了一款配置Snapdragon 845的升级VR头盔。</p>
            <p>最近，在圣克拉拉举行的2018年增强现实世界博览会上，高通揭开了Snapdragon XR1的面纱。这是一款专门为AR和VR头盔打造的芯片，可提供6自由度(6DoF)、运动跟踪控制器和视觉惯性里程计(VIO)头部跟踪。</p>
            <p>归根结底，外形是高通的XR平台与XR1平台之间的关键区别。XR1平台内部只有显示器和传感器。XR1头盔采用定制设计的Snapdragon芯片，由Kryo处理器和Adreno图形处理器组成，同时配备光谱图像信号处理器，可在多个显示器上以每秒60帧的速度以最小的延迟时间输出高达4K分辨率的内容。</p>
            <p>不出所料，XR1芯片的价格更高，对于相当多的消费者来说，这是无法接受的。根据研究公司Techanalysis最近进行的一项调查显示，大约45%的潜在HMD买家认为当今的AR和VR设备太贵。</p>
            <p>尽管如此，价格实惠的无屏平台——像那些基于高通XR芯片但没有屏幕的头盔——出货量大幅下降，部分原因是设备制造商已不再将其与智能手机搭配销售。根据市场研究公司IDC的统计数据显示，在2018年第三季度，成交量暴跌了59%。</p>
            <p>从积极的方面来看，整个行业都呈上升趋势。去年夏天，IDC公司乐观地预测，到2022年，AR/VR头盔市场将以52.5%的复合年增长率增长。在去年12月，它还报告称，VR和AR硬件发货量在去年第三季度分别实现了8.2%和1.1%的同比增长。</p>
            <p>高通重新押注XR1芯片将有助于扭转中低端头盔市场的局面。但是，只有时间能给出答案。（腾讯科技审校/乐学）</p>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                  相关推荐
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <a href="vtime.html">Vtime XR为VR社交网络推出AR模式</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newcat.html">VR社交有戏？VRChat用户量已达150万</a>
                    </li>
                  <li class="list-group-item">
                      <a href="nesdm.html">Dream World</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newai.html">将AI 接入VR</a>
                    </li>
                </ul>
              </div>
        </div>
    </div>
    </div>
    <footer class="bgc">
        <div class="container">
            <div class="row ft">
                <div class="col-lg-7">
                    <div class="rwo">
                        <div class="col-lg-12 mpz">
                            <h5>联系我们</h5>
                        </div>
                        <div class="col-lg-12 mpz">
                            <h6 class="po">天下视</h6>
                        </div>
                        <div class="row pp">
                            <div class="col-lg-6">
                                <p> 地址：广东省深圳市科兴科学园</p>
                                <p>手机：17303169207 / 18501562740</p>
                                <p> 邮编：517000</p>
                            </div>
                            <div class="col-lg-6 ">
                                <p> 传真：0755-88886666</p>
                                <p>电话：0755-88886666</p>
                                <p>邮箱: 1484552626@qq.com</p>
                            </div>
                            <div class="col-lg-2">
                                <p>
                                    关注我们:
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <img src="images/tcs.jpg" alt="" class="tcs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="images/tab.png" alt="" class="tab">
                </div>
            </div>
        </div>
        <div class="container bgb">
            <span>
                Copyright 2018
                <a href="#" class="fta">www.tcsvr.com</a>
            </span>
        </div>
    </footer>

</body>
</html>