<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻动态</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../csw.css"> -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./cs/style.css">
</head>

<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt="天下视" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="index.html">主页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            关于我们
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="us.html">关于我们</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="us.html">企业介绍</a>
                            <a class="dropdown-item" href="usw.html">企业文化</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="rec.html" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            产品展示
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="rec.html">产品展示</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="game.html">社交网络</a>
                            <a class="dropdown-item" href="game.html">VR 游戏</a>
                            <a class="dropdown-item" href="move.html">VR 影视</a>
                            <a class="dropdown-item" href="recsb.html">VR 设备</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            新闻动态
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="new.html">新闻动态</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="new2.html">企业新闻</a>
                            <a class="dropdown-item" href="new2.html">行业新闻</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jion.html">加入我们</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link disabled" href="jion.html">联系我们</a>
                    <i class="fas fa-phone-volume"></i>
                    <a class="nav-link" href="#">400-0000-0000</a>
                </form>
            </div>
        </nav>
    </header>
    <nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">主页</a></li>
            <li class="breadcrumb-item"><a href="new.html">新闻动态</a></li>
            <li class="breadcrumb-item"><a href="new2.html">行业新闻</a></li>
            <li class="breadcrumb-item active" aria-current="page">VR影像展</li>
        </ol>
        <a href="">更多</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 xsy ">
                <h3>VR已死？我们在VR影像展看到了电影的未来</h3>
                <p class="img"><img
                        src="http://t12.baidu.com/it/u=974268248,386852852&fm=173&app=25&f=JPEG?w=640&h=359&s=278068A01C533EC250AC9D9503008091"
                        alt=""></p>
                <p>从2016到2017短短一年时间，VR行业从风口跌落谷底。最明显的是，无论资本还是媒体，都不再对VR充满热情了，不少人甚至发出“VR已死”的言论。</p>
                <p>事实真的如此吗？</p>
                <p>2017年第74届威尼斯电影节首次新增了“VR电影竞赛单元”，VR电影也有了专属奖项，今年4月的北京电影节，也有了“VR单元”。比起VR游戏，VR电影发展面临的挑战不仅来自于技术和成本，可能会是对电影行业颠覆性的改变。
                </p>
                <p>去年十二月，斯皮尔伯格的《头号玩家》在我国狂澜13.96亿票房，再次用VR游戏颠覆了观众们对未来虚拟现实的想象。</p>
                <p class="img"><img
                        src="http://t11.baidu.com/it/u=461503405,1779347956&fm=173&app=25&f=JPEG?w=640&h=427&s=3524D01452D053DC8D9D24D70300C0E2"
                        alt=""></p>
                <p>最近，2018年青岛VR影像周也赋予了这个问题不同的答案。</p>
                <h4>虚拟世界带来的“沉浸式”体验</h4>
                <p>VR电影未来的样子是怎样虽然还没有定论，但在探索中，业内普遍认为VR电影的基本特性之一便是——“沉浸感”，沉浸感的体验是什么样子？如果你酷爱戏剧，那么对于去年《不眠之夜》这部作品你一定不会陌生。它被称为“沉浸式戏剧”，即观众不再是坐在台下观看，成为了演出的参与者和主导者，剧情会根据观众的选择呈现出不同的走向，而产生不同的结局，“沉浸式戏剧”和VR的体验有些类似。
                </p>
                <p class="img"><img
                        src="http://t10.baidu.com/it/u=93950643,1389235042&fm=173&app=25&f=JPEG?w=640&h=381&s=40512B66C776019433645D1801008092"
                        alt=""></p>
                <p>
                    <h4>《不眠之夜》宣传图</h4>
                </p>
                <p>在刚刚过去的青岛VR影像周中，预言家游报（ID：yuyanjiayoubao）一共体验了十几个VR短片，发现的确和普通观影比起来有着质的不同，在戴上VR设备后，自己仿佛置身于电影场景中，开始前志愿者会让用户站在正确的方向上，短片开始后通常会根据声音来跟进剧情进行转身和移动
                </p>
                <p>6 月 23 日至 26 日，VR展映以行业场和公众场的形式向观众开放。官方展映一共分为三个部分：立式 VR 、VR 剧场和 VR
                    装置。据介绍，此次砂之盒沉浸影像展邀请了全球顶级VR创作团队和他们的作品。影像周共收集了来自 20 多个国家近 50 部在圣丹斯、翠贝卡、威尼斯、戛纳、釜山等国际电影节获奖/入围的 VR
                    作品，其中一半作品为亚洲首映。</p>
                <p>砂之盒创始人楼彦昕表示，砂之盒是国内最早举办和促进虚拟现实在影像叙事方面的交流平台，此次在青岛举办2018青岛国际VR影像周——砂之盒沉浸影像展，是希望构建一个类似电影节形态的窗口，可以将国内外最好的VR作品汇聚在这里，形成可持续的交流与合作。
                </p>
                <p>大多数VR短片时长在5-10分钟左右，剧情简单易懂，虽然并没有感到网上所说的眩晕感，但在看的时候如果剧情不够吸引人，就会觉得有点无聊，而且由于带上设备后是无法看到除画面外别的东西的，因此如果片段不够好看，就会有别无选择被迫观看的感觉。
                </p>
                <p>VR影像展远比想象中的火爆，主办方砂之盒为了方便观众观看，专门做了一个提供挑选场次的小程序，观众可以提前预约观看时间，预言家游报（ID：yuyanjiayoubao）发现大多数热门短片的预约时间一般都排满了，直到晚上九点现场每个项目还都有陆陆续续的排队观众。据楼彦昕介绍，仅23和24日两天展馆就一共接待了2000位行业和大众观众。
                </p>
                <p class="img"><img
                        src="http://t12.baidu.com/it/u=3719749376,1962659025&fm=173&app=25&f=JPEG?w=474&h=986&s=2B887222031A44610EFD65DA0000C0B1"
                        alt=""></p>
                <p>小程序预约情况常常爆满</p>
                <p>孙阿姨一家是来青岛游玩的游客，趁着外孙放暑假一家人出来旅游，女儿在网上看到宣传后就把这里当成了景点带家人前来参观，“就是感觉新奇好玩，从前没看过这种展出，最喜欢海底的景色，真的好像在海底一样，鱼儿在身边游来游去，挺逼真的。”孙阿姨笑道，“挺长见识的，就是有的是全英文，没有字幕看不懂。”
                </p>
                <p>阿姨口中的海底景色是由Michael
                    Muller拍摄的《潜入当下》，这部电影由VR机器拍摄，在加勒比海到美洲再到非洲多个地方取景，耗资巨大，加上Muller多年拍摄海底景象和生物的经验，才能把画面拍的如此逼真动人。事实上如今很多号称VR短片的视频，由于资金问题大多由2D机器拍摄，观感会大打折扣。
                </p>
                <p class="img"><img
                        src="http://t12.baidu.com/it/u=2929576061,92420959&fm=173&app=25&f=JPEG?w=640&h=352&s=9302944C5CC637601A3E16100300C0D9"
                        alt=""></p>
                <p>《潜入当下》预告片截图</p>
                <p>“当全身心沉浸在VR短片中的时候，会感到有点孤独，没有手柄可以触碰影片中物体的话，就会有种莫名的无力感。”小新是青岛的一名大三学生，在影像展中的这些作品中，她最喜欢的是《休的色彩》和《小王子VR》，这两部作品都有手柄，观看的过程中都有少许趣味性的互动，“互动不用太多，只要能有存在感就行。
                </p>
                <p>小新所喜欢的带有交互性的体验正是如今消费者对娱乐的需求趋势，能和读者互动的图书畅销，有“社交性”的沉浸式戏剧一票难求，连曾经功能单一的美图秀秀和大众点评等工具型App都加入了社交功能，对此星云奖科幻作家Sean
                    Stewart把曾经的艺术比喻为烹饪，只需要做好了呈献给观众就好，而现在的艺术像是跳舞，如何牵引对方一起愉快的共舞，且不打乱节奏才是最重要的。</p>
                <p>区别于游戏，VR电影应该有自己的逻辑</p>
                <p>从前我们看电影是在一个水平面上的，观看者是被动接收画面提供给我们的信息，除了镜面穿帮，观众是看不到拍摄者的。但是VR电影给了观众一个互动的机会，观众可以自己去探寻拍摄环境，这样的话拍摄机位就是很大的问题，找到合适的观众观看的机位、移动的轨迹等等都和以往的电影是不同的，甚至传统的构图方法也已经不适用于VR影片了。</p>
                <p class="img"><img src="http://t11.baidu.com/it/u=2168930650,2684855503&fm=173&app=25&f=JPEG?w=640&h=335&s=E280DB0D784031578AA870890300A082" alt=""></p>
                <p>VR拍摄场景</p>
                <p><img src="http://t12.baidu.com/it/u=1416497648,70052032&fm=173&app=25&f=JPEG?w=640&h=425&s=A6F27D844817BED672D4D88F0300A080" alt=""></p>
                <p>青岛VR影像周现场</p>
                <p>在《看电影》的主编阿郎看来，目前的所谓“VR电影”并没有自己的逻辑，一些影像在遵循游戏逻辑，有些在遵循科学和科教的逻辑，他不认为现存所有的观看美学就是符合VR电影观看美学的，它应该是独特的。</p>
                <p>《血肉与黄沙》是由传奇影业制作，著名导演亚利桑德罗·冈萨雷斯·伊纳里多执导的VR影片，内容讲述了美国与墨西哥边境跨境难民穿越沙漠艰难迁徙的真实故事。阿郎回忆在观看该片时，进入观看环境的时候，能直观感受到难民逃离的无奈情绪，光脚踩在黄沙上的感觉。</p>
                <p>“我十分期待VR电影发展的原因，是因为我觉得VR电影会慢慢重新定义一种崭新的观看美学，能改变我看世界的角度和方式。”他补充道。</p>
                <p>行业大起大落，VR电影发展仍面临多重困境</p>
                <p>据互联网数据中心报告显示，2017年全球VR应用总消费额4.17亿美元。这个数字，跟共享单车、电商、社交网络等互联网领域和科技细分行业相比，可以说微不足道。VR行业经历了：2015年疯狂入局，2016上半年爆发式增长，2016下半年裁员倒闭、融资困难，2017年行业洗牌，行业虚高的泡沫很快被打破。三年间，大起大落的VR行业如同坐了一次过山车。</p>
                <p>这其实来自于背后的投资人不一样。美国的VR和AR投资最主要集中在大公司上，中国在资本市场上对AR、VR最大的支持来自于上市公司，上市公司是听散户的话的，散户的情绪极其波动，容易形成资本泡沫。</p>
                <p>在2018年第一季度VR/AR行业共发生46起投资案中，国内企业占11起，相比于去年Q4的61起以及去年Q1的70起，无论是环比还是同比都出现明显下滑。同时，VR/AR 游戏、娱乐、影视公司投资案共7起，相较于去年Q4的9起有所下滑。</p>
                <p class="img"><img src="http://t11.baidu.com/it/u=2192257048,149579637&fm=173&app=25&f=JPEG?w=640&h=368&s=30D07185084113434431A2990300009F" alt=""></p>
                <p>由于技术方便的不够成熟和普及，“4分钟花费60万”的VR短片拍摄成本居高不下。因此内容制作公司如何能拿到融资变得极为重要。无论是在欧洲还是澳洲，政府和相关文化部门对于VR的发展都是给予支持的，也许投资的规模仅是百万级别，但却已经能足够支撑创业者继续做下去。</p>
                <p>在今年圣诞斯电影节上，VR融资和发行企业 CityLights 宣布以7位数的资金收购"Spheres", 这是一个由三部分组成的系列节目, 能让观众利用VR探索太空深处。 虽没有透露具体的数字，但对于从未在圣丹斯电影节上有过任何交易的新生媒介来说，这仍然是一笔大买卖，而且这也证明了VR电影的影响力在不断增强。</p>
                <p class="img"><img src="http://t12.baidu.com/it/u=2144897603,3417145920&fm=173&app=25&f=JPEG?w=640&h=395&s=6DC09346037E9A730070B89F0300C083" alt=""></p>
                <p>但目前国内的情况却不容乐观，首先在内容方面，国内的融资就方式较为单一，且由于现在整个影视行业都是高风险投资行业，加上VR的变现能力不强，因此融资渠道更是变窄了不少。目前有效的解决方式就是和国外合作进行内容创作，但同时也需要克服语言障碍和作品思维逻辑不同等问题。</p>
                <p>面对变现难题，平塔工作室CEO雷峥蒙认为需要找到自己的商业模式，和普通影视作品差不多，平塔工作室的商业模式整体也是三个板块，第一个板块是发行，第二个板块是广告收入，第三个板块是衍生价值。比如在他们制作的入围威尼斯电影节的VR交互动画短片《拾梦老人》中，平塔工作室在短片中设立了一个广告牌并进行了招商，卖给了一家房地产公司。同时在衍生品的销售方面，公司取得的成绩也还不错，和淘宝合作制作的衍生雨伞一家销售了近5万把，每一笔销售都能拿到分账。</p>
                <p>在欧洲，不少公共图书馆和公共场所都能体验到VR的设备和内容，但在中国目前的普及度还是很低，国内免费体验的场所较少，且体验馆的价位大多在100到500元不等，昂贵的价格把不少感兴趣的用户拒之门外，如果连VR体验都无法在国内进行普及，距离国内VR市场发展进入稳定期还有很远。</p>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        相关推荐
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="vtime.html">Vtime XR为VR社交网络推出AR模式</a>
                        </li>
                        <li class="list-group-item">
                            <a href="newcat.html">VR社交有戏？VRChat用户量已达150万</a>
                        </li>
                        <li class="list-group-item">
                            <a href="nesdm.html">Dream World</a>
                        </li>
                        <li class="list-group-item">
                            <a href="newai.html">将AI 接入VR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="bgc">
        <div class="container">
            <div class="row ft">
                <div class="col-lg-7">
                    <div class="rwo">
                        <div class="col-lg-12 mpz">
                            <h5>联系我们</h5>
                        </div>
                        <div class="col-lg-12 mpz">
                            <h6 class="po">天下视</h6>
                        </div>
                        <div class="row pp">
                            <div class="col-lg-6">
                                <p> 地址：广东省深圳市科兴科学园</p>
                                <p>手机：17303169207 / 18501562740</p>
                                <p> 邮编：517000</p>
                            </div>
                            <div class="col-lg-6 ">
                                <p> 传真：0755-88886666</p>
                                <p>电话：0755-88886666</p>
                                <p>邮箱: 1484552626@qq.com</p>
                            </div>
                            <div class="col-lg-2">
                                <p>
                                    关注我们:
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <img src="images/tcs.jpg" alt="" class="tcs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="images/tab.png" alt="" class="tab">
                </div>
            </div>
        </div>
        <div class="container bgb">
            <span>
                Copyright 2018
                <a href="#" class="fta">www.tcsvr.com</a>
            </span>
        </div>
    </footer>

</body>

</html>