<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻动态</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../csw.css"> -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./cs/style.css">
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt="天下视" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="index.html">主页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            关于我们
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="us.html">关于我们</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="us.html">企业介绍</a>
                            <a class="dropdown-item" href="usw.html">企业文化</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="rec.html" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            产品展示
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="rec.html">产品展示</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="game.html">社交网络</a>
                            <a class="dropdown-item" href="game.html">VR 游戏</a>
                            <a class="dropdown-item" href="move.html">VR 影视</a>
                            <a class="dropdown-item" href="recsb.html">VR 设备</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            新闻动态
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="new.html">新闻动态</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="new2.html">企业新闻</a>
                            <a class="dropdown-item" href="new2.html">行业新闻</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jion.html">加入我们</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link disabled" href="jion.html">联系我们</a>
                    <i class="fas fa-phone-volume"></i>
                    <a class="nav-link" href="#">400-0000-0000</a>
                </form>
            </div>
        </nav>
    </header>
    <nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">主页</a></li>
            <li class="breadcrumb-item"><a href="new.html">新闻动态</a></li>
            <li class="breadcrumb-item"><a href="new2.html">行业新闻</a></li>
            <li class="breadcrumb-item active" aria-current="page">VR+影视</li>
        </ol>
        <a href="">更多</a>
    </nav>
    <div class="container"> 
        <div class="row">
        <div class="col-lg-8 xsy ">
            <h3>资本冷眼旁观，VR+影视的路有多难走？</h3>
            <p>11月25日，李安导演作为颁奖嘉宾出席了台湾金马奖典礼，在金马会后庆功宴接受采访时透露，会在新片《双子煞星》中加入VR技术。李安导演近几年开始尝试在其电影中结合新技术，就像之前的电影《比利·林恩的中场战事》采用了120帧高帧率拍法，已经取得了不错的效果。显然此次VR也以其独特魅力吸引了这位大导演。</p>
            <p class="img"><img src="https://hiphotos.baidu.com/feed/pic/item/9f2f070828381f3055bdeb57a2014c086f06f0ac.jpg" alt=""></p>
            <p>而今年更早的时候，斯皮尔伯格也与HTC Vive联合拍摄了以VR为核心的高概念电影《玩家一号》。此外，今年更有4部中国VR作品入围威尼斯电影节VR单元，我们可以看出威尼斯等电影节对于VR电影的重视。</p>
            <p>影视无疑已成为如今VR最重要的应用领域之一，那么VR影视对比传统影视剧有什么不一样的吸引力呢？</p>
            <h4>是什么让你钟情于VR+影视？</h4>
            <h5>无法比拟的代入感</h5>
            <p>VR纪录片《Wave of Grace》真实展示了疾病肆虐的利比里亚现状，当你戴上VR头显置身于纪录片中时，你会感到自己就站在利比里亚的某片墓地，一些身穿防化服的志愿者正在将一位埃博拉病毒受害者下葬。你感觉自己似乎要跌入坟墓，而当意识到已被数以百计的坟墓环绕时，生命的脆弱感顿时向你袭来。</p>
            <p class="img"><img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=469235947,1587138862&fm=173&s=7CC2E10BF899980F390020B003005094&w=640&h=295&img.JPEG" alt=""></p>
            <p>这种真实的代入感简直比十则新闻报道加起来都要震撼，这是传统电影无法比拟的。VR技术360°全景体验是视觉体验上巨大的飞跃，某种程度的体验比一些高超的镜头语言还要吸引观众。</p>
            <h4>和电影的互动让人无法拒绝</h4>
            <p>传统影视中，观众只是被动的坐在荧幕前观看，虽然剧情的发展会跌宕起伏，但是我们知道结局再怎么出人意料也是不会随我们的意志而改变的。</p>
            <p>但是VR电影能将观众从传统电影的单线性叙事模式中解放出来。因为VR电影是360°电影，这意味着电影在叙事结构上时间空间的连续逻辑以及故事视角会呈现多样性，观众将有极大的自主选择权。</p>
            <p class="img"><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=623287286,3204774321&fm=173&s=DF3C06C6505209DADAAF7A3E03005048&w=640&h=381&img.JPEG" alt=""></p>
            <p>就像被认为是迄今为止最好的VR短片《Henry》，在这部VR动画电影中观众可以加入这只刺猬的生日派对，观众可以参与排队的准备工作，跟着这只小刺猬一起忙前忙后。想想自己也能成为电影中的一名角色，是不是很激动呢？我们有什么理由拒绝这样的VR电影呢？</p>
            <h4>梦想虽好，切记前路漫漫</h4>
            <p>即便VR+影视看起来如此的吸引人，但由于当前大环境对VR投资的谨慎以及其自身存在的各种问题，目前VR影视还是面临艰难的处境。</p>
            <h4>极高的创作难度</h4>
            <p>VR电影是360°视角，一方面这是传统电影无法比拟的视觉优势，另一方面在叙事结构和故事视角的处理上，VR电影难度会更高。这种颠覆性的改变不仅要求剧本包含多线性叙事结构，而且还要求导演们有更多的创造力。但是目前VR技术的不成熟却大大限制了他们的想象与创造力，这样的矛盾目前看还是很难调和的。</p>
            <p class="img"><img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=824303179,376698704&fm=173&s=F904DA1516737B8002B353D4030030B4&w=595&h=338&img.JPEG" alt=""></p>
            <p>再举一个简单的例子，在拍摄《福尔摩斯》这样的侦探片当中，侦探最后与众人齐聚一堂进行破案分析的场景时，导演、摄影、剪辑该如何去满足观众希望视角在侦探、犯罪嫌疑人、旁观者、群众等角色以及电影场景的不断闪回，显然难度不是一般的高。</p>
            <p>我们能看到如今的VR影视作品大多数还是以短片为主，甚至不能称之为电影，这主要是因为蒙太奇的缺失很大程度上影响了VR叙事的长度和流畅性。蒙太奇是人们为了适应平面影视而发展出来的一种镜头语言，是电影最基本最独特的艺术表现方法。运用蒙太奇手法可以大大地丰富了电影艺术的表现力，从而增强电影艺术的感染力。</p>
            <p class="img"><img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2090762245,3257069292&fm=173&s=EEB215C7C2E9170DCA15513303001050&w=553&h=313&img.JPEG" alt=""></p>
            <p>因此我们能看到，即使获得业内极高评价的《Henry》，对比一些传统优秀电影，它的剧情还是显得很老套和低龄化，故事情节多少有些“无趣”。《Henry》只是做到完整的叙事以及没有太多硬伤的镜头语言就非常难能可贵了。</p>
            <h4>高昂的成本以及变现困难</h4>
            <p>今年6月的时候，Facebook宣布关闭了Oculus Story Studio。这个顶尖的VR影视工作室曾经凭借《Henry》、《Lost》斩获众多大奖，可是Facebook还是毅然关闭了它，无外乎是因为其高昂的成本加上遥遥无期的盈利。据悉，片长10分钟的《迷失》花费了近1000万美元，这是一种近乎无底洞式的烧钱。世界顶尖的工作室尚且如此，更遑论其他更多面临融资难的小厂商了。</p>
            <p class="img"><img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3976550217,4096973921&fm=173&s=FECCC009EE037F5516809CC50300E095&w=633&h=469&img.JPEG" alt=""></p>
            <p>为了寻求VR影视变现之道，IMAX在去年便开始铺设线下VR影院，今年年初又听说将在中国开设首个VR影院。IMAX 中心洛杉矶店6万美元的月营收似乎证明了VR线下影院有钱可准，但IMAX的海量内容产品和高端硬件配置又是难以复制的。</p>
            <h4>VR对影视类型的限制</h4>
            <p>以目前VR技术发展的状况看，最适合VR与电影有机结合的是侦探、恐怖、记录、科幻等对于还原现实场景有天然优势和需求的电影题材。还有一类基本没有技术含量的，就是偏成人娱乐的片子，这也是目前发展的最具规模的类型。</p>
            <p>据了解，在全球最大的成人网站Pornhub上，VR视频已有数千部。但坦率的说，VR影视片的类型单一也是一大问题。</p>
            <p class="img"><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=908616278,256657776&fm=173&s=9AD3708446331584280419B80300C090&w=600&h=400&img.JPEG" alt=""></p>
            <h4>可能面临新的电影审查机制</h4>
            <p>鉴于国内的电影审查制度，一方面，传统电影中的色情、暴力元素是必须禁止的；另一方面也要考虑VR强烈的真实体验带来的一些问题。比如一些纪录片会拍到大型野生动物之间的搏斗，可能会出现一些血腥的场面，而VR会表现的更真实，这也许会因为审查问题进行修改。</p>
            <p>以目前VR+影视的发展趋势看，未来VR电影必定不会是单纯的电影，但为了VR影视的长久发展，我们还是应该把握住电影的本质，注重故事内容的打磨，而不能停留在炫耀技术上.</p>
            <p class="img"><img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3202526379,61453241&fm=173&s=5D43B140BC5334D6DA6080150300D0C9&w=551&h=323&img.JPEG" alt=""></p>
            <p>由于传统影视和VR影视的巨大差异，即使未来VR技术成熟，VR影视还是很难颠覆传统影视的主流地位，但必将为影视产业带来一场革命，拥有自己固定的受众群体。由此看，VR影视十分可期。</p>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                  相关推荐
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <a href="vtime.html">Vtime XR为VR社交网络推出AR模式</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newcat.html">VR社交有戏？VRChat用户量已达150万</a>
                    </li>
                  <li class="list-group-item">
                      <a href="nesdm.html">Dream World</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newai.html">将AI 接入VR</a>
                    </li>
                </ul>
              </div>
        </div>
    </div>
    </div>
    <footer class="bgc">
        <div class="container">
            <div class="row ft">
                <div class="col-lg-7">
                    <div class="rwo">
                        <div class="col-lg-12 mpz">
                            <h5>联系我们</h5>
                        </div>
                        <div class="col-lg-12 mpz">
                            <h6 class="po">天下视</h6>
                        </div>
                        <div class="row pp">
                            <div class="col-lg-6">
                                <p> 地址：广东省深圳市科兴科学园</p>
                                <p>手机：17303169207 / 18501562740</p>
                                <p> 邮编：517000</p>
                            </div>
                            <div class="col-lg-6 ">
                                <p> 传真：0755-88886666</p>
                                <p>电话：0755-88886666</p>
                                <p>邮箱: 1484552626@qq.com</p>
                            </div>
                            <div class="col-lg-2">
                                <p>
                                    关注我们:
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <img src="images/tcs.jpg" alt="" class="tcs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="images/tab.png" alt="" class="tab">
                </div>
            </div>
        </div>
        <div class="container bgb">
            <span>
                Copyright 2018
                <a href="#" class="fta">www.tcsvr.com</a>
            </span>
        </div>
    </footer>

</body>
</html>