<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻动态</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../csw.css"> -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./cs/style.css">
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt="天下视" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="index.html">主页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            关于我们
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="us.html">关于我们</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="us.html">企业介绍</a>
                            <a class="dropdown-item" href="usw.html">企业文化</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="rec.html" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            产品展示
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="rec.html">产品展示</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="game.html">社交网络</a>
                            <a class="dropdown-item" href="game.html">VR 游戏</a>
                            <a class="dropdown-item" href="move.html">VR 影视</a>
                            <a class="dropdown-item" href="recsb.html">VR 设备</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            新闻动态
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="new.html">新闻动态</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="new2.html">企业新闻</a>
                            <a class="dropdown-item" href="new2.html">行业新闻</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jion.html">加入我们</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link disabled" href="jion.html">联系我们</a>
                    <i class="fas fa-phone-volume"></i>
                    <a class="nav-link" href="#">400-0000-0000</a>
                </form>
            </div>
        </nav>
    </header>
    <nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">主页</a></li>
            <li class="breadcrumb-item"><a href="new.html">新闻动态</a></li>
            <li class="breadcrumb-item"><a href="new2.html">行业新闻</a></li>
            <li class="breadcrumb-item active" aria-current="page">Beat Saber</li>
        </ol>
        <a href="">更多</a>
    </nav>
    <div class="container"> 
        <div class="row">
        <div class="col-lg-8 xsy ">
            <h3>火遍抖音的《Beat Saber》 让人停不下的VR音游</h3>
            <p>它绝对是当下最好的VR音游(没有之一)，也可能是目前最好的VR游戏。平心而论，未荻很少用如此绝对的主观感受去评价一款游戏，但无论是对虚拟现实的沉浸感把握，作品的游戏性本身，还是游戏受众上看，曾一度火遍抖音的《Beat Saber》(节奏光剑)无疑是VR游戏金字塔尖的存在!</p>
            <p class="img"><img src="http://newsimg.5054399.com/uploads/userup/1811/09102102c21.jpg" alt=""></p>
            <p>碍于当前支持Steam的VR设备的价位和体积，以及对电脑配置的高要求，《Beat Saber》的游戏成本实在有些高。未荻曾在它最火的时候前往VR线下体验店尝试，当时的收费标准是15分钟33元，实在让人望而却步。于是玩家对于《Beat Saber》登陆更为小巧、亲民的PSVR的呼声也日益高涨。</p>
            <p class="img"><img src="http://newsimg.5054399.com/uploads/userup/1811/0910211VN7.jpg" alt=""></p>
            <p>终于，《Beat Saber》的热度虽然褪去不少，但官方总算回应了玩家的期待!近日，《Beat Saber》公开最新宣传视频，宣布本作将于11月20日登陆PS4平台!</p>
            <p class="img"><img src="http://newsimg.5054399.com/uploads/userup/1811/0910214420N.jpg" alt=""></p>
            <p>《Beat Saber》是一款音乐打节拍游戏，游戏有着精致的游戏场景、高清的画质，结合了创新的VR玩法。在游戏中玩家可以伴随着动感的音乐，使用指尖模拟光剑切开飞驰而来的方块。在方块来到你身边时削减节拍，每个节拍都会指出您需要使用哪种把光剑，以及挥舞光剑的方向。</p>
            <p class="img"><img src="http://newsimg.5054399.com/uploads/userup/1811/091021594350.gif" alt=""></p>
            <p>游戏打击手感十分强烈，加上音游惯有的密集动作指令，往往需要玩家在空旷的现实场景中左右横跳，因此也被不少玩家拿来当做健身、减肥游戏，听说效果还不赖!</p>
            <p class="img"><img src="http://newsimg.5054399.com/uploads/userup/1811/0910221B333.gif" alt=""></p>
            <p>只不过，PSVR版的《Beat Saber》也存在一些劣势，比如说音游最关键的游戏曲库。PS4显然并不像Steam那样支持自定义歌曲，不过考虑到索尼也是影音娱乐公司，旗下拥有诸多歌曲版权，在曲库阵容上同样值得期待。</p>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                  相关推荐
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <a href="vtime.html">Vtime XR为VR社交网络推出AR模式</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newcat.html">VR社交有戏？VRChat用户量已达150万</a>
                    </li>
                  <li class="list-group-item">
                      <a href="nesdm.html">Dream World</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newai.html">将AI 接入VR</a>
                    </li>
                </ul>
              </div>
        </div>
    </div>
    </div>
    <footer class="bgc">
        <div class="container">
            <div class="row ft">
                <div class="col-lg-7">
                    <div class="rwo">
                        <div class="col-lg-12 mpz">
                            <h5>联系我们</h5>
                        </div>
                        <div class="col-lg-12 mpz">
                            <h6 class="po">天下视</h6>
                        </div>
                        <div class="row pp">
                            <div class="col-lg-6">
                                <p> 地址：广东省深圳市科兴科学园</p>
                                <p>手机：17303169207 / 18501562740</p>
                                <p> 邮编：517000</p>
                            </div>
                            <div class="col-lg-6 ">
                                <p> 传真：0755-88886666</p>
                                <p>电话：0755-88886666</p>
                                <p>邮箱: 1484552626@qq.com</p>
                            </div>
                            <div class="col-lg-2">
                                <p>
                                    关注我们:
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <img src="images/tcs.jpg" alt="" class="tcs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="images/tab.png" alt="" class="tab">
                </div>
            </div>
        </div>
        <div class="container bgb">
            <span>
                Copyright 2018
                <a href="#" class="fta">www.tcsvr.com</a>
            </span>
        </div>
    </footer>

</body>
</html>