<!-- header start -->
<?php  include('./view/common/header.html') ; ?>
    <!-- header start -->

<nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?php echo _WEB_ ?>index.php">主页</a></li>
            <li class="breadcrumb-item"><a href="<?php echo _WEB_ ?>rec.php">产品展示</a></li>
            <li class="breadcrumb-item"><a href="<?php echo _WEB_ ?>game.php">VR 游戏</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fallout 4 VR(辐射4 VR)</li>
        </ol>
        <a href="<?php echo _WEB_ ?>game.php">更多</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 xsy">
                <div class="bd">
                    <h4>Fallout 4 VR(辐射4 VR)</h4>
                    <div class="flx">
                        <div>
                            <img src="<?php echo _IMG_ ?>recyx.jpg" alt="">
                        </div>
                        <div class="fex">
                            <p><span>平 台：</span>PC</p>
                            <p><span>类 型：</span>动作冒险</p>
                            <p><span>支持设备：</span>HTC Vive</p>
                            <p><span>语 音：</span>简体中文</p>
                            <p><span>发售日：</span>2017-12-12</p>
                            <p><span>制作公司：</span>Bethesda</p>
                            <p><span>游戏大小：</span>25.50G</p>
                            <p><span>官方价格：</span>79元</p>
                            <p><span>87 价格：</span>免费</p>
                            <p>
                                <button>立即下载</button>
                                <button>进入论坛</button>
                            </p>
                        </div>
                    </div>
                    <h4 class="mto plo blo">游戏介绍</h4>
                    <p>《辐射4》（Fallout 4）是由Bethesda开发的一款角色扮演类游戏，于2015年11月10日发行，为《辐射》系列游戏作品的第四代。此系列包括了延伸作品如《辐射战略版：钢铁兄弟会》。</p>
                    <p class="fle">
                        <button><a href=""><i class="fas fa-suitcase i"></i>游戏简评</a> </button>
                        <button><a href=""><i class="fas fa-camera i"></i>游戏截图</a> </button>
                        <button><a href=""><i class="fas fa-play-circle i"></i>游戏视频</a> </button>
                        <button><a href=""><i class="far fa-newspaper i"></i>相关阅读</a> </button>
                        <button><a href=""><i class="fas fa-graduation-cap i"></i>相关教程</a> </button>
                    </p>
                    <h4 class="mto plo blo">游戏简评</h4>
                    <p>《辐射4》（Fallout 4）是由Bethesda开发的一款角色扮演类游戏，于2015年11月10日发行，为《辐射》系列游戏作品的第四代。此系列包括了延伸作品如《辐射战略版：钢铁兄弟会》。</p>
                    <h4 class="mto plo blo">游戏截图</h4>
                    <div id="con">
                        <a href="javascript:;" id="left"><i class="fas fa-chevron-left"></i> </a>
                        <a href="javascript:;" id="right"><i class="fas fa-chevron-right"></i> </a>
                        <ul class="mto"> 
                            <li>
                                <img src="<?php echo _IMG_ ?>recyx1.jpg" alt="">
                            </li>
                            <li>
                                <img src="<?php echo _IMG_ ?>recyx2.jpg" alt="">
                            </li>
                            <li>
                                <img src="<?php echo _IMG_ ?>recyx3.jpg" alt="">
                            </li>
                            <li>
                                <img src="<?php echo _IMG_ ?>recyx4.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <h4 class="mto">我有话说 :</h4>
                <textarea name="" id="text" placeholder="我有话说 ......"></textarea>
                <div class="clearfix">
                    <button type="button" class="btn btn-warning fr ">评论</button>
                </div>
                <h4 class="pdo"><span>最新评论</span> <hr></h4>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <ul class="list-group list-group-flush auto mw">
                        <li class="list-group-item auto bbo">
                            <div class="arc ">
                                <p>6</p>
                            </div>
                            <p class="tc">游戏评分</p>
                        </li>
                        <li class="list-group-item tac">
                            <p ><hr> <span class="ti">游戏评分 :</span> </p>
                            <p>
                                <ul>
                                    <li >
                                        <p><span>画&emsp;面:</span> <a href="">&hearts;</a>  <a href="">&hearts;</a> <a href="">&hearts;</a> &hearts; &hearts;</p> 
                                    </li>
                                    <li>
                                        <p><span>音&emsp;效: <a href="">&hearts;</a>  <a href="">&hearts;</a> <a href="">&hearts;</a> &hearts; &hearts;</p> 
                                    </li>
                                    <li>
                                        <p><span>沉浸感:</span> <a href="">&hearts;</a>  <a href="">&hearts;</a> <a href="">&hearts;</a> &hearts; &hearts;</p> 
                                    </li>
                                    <li>
                                        <p><span>舒适感:</span> <a href="">&hearts;</a>  <a href="">&hearts;</a> <a href="">&hearts;</a> &hearts; &hearts;</p> 
                                    </li>
                                    <li>
                                        <p><span>游戏性:</span> <a href="">&hearts;</a>  <a href="">&hearts;</a> <a href="">&hearts;</a> &hearts; &hearts;</p> 
                                    </li>
                                </ul>
                            </p>

                        </li>
                        <li class="list-group-item mw">
                        </li>
                        <li class="list-group-item">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!-- footer start -->
<?php include('view/common/footer.html') ?>
<!-- footer end -->


<script src="<?php echo _JS_ ?>/main.js"></script>