<link rel="stylesheet" href="<?php echo _CSS_ ?>js.css">
<!-- header start -->
<?php  include('./view/common/header.html') ; ?>
    <!-- header start -->
    <nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?php echo _WEB_ ?>index.php">主页</a></li>
            <li class="breadcrumb-item"><a href="<?php echo _WEB_ ?>rec.php">产品展示</a></li>
            <li class="breadcrumb-item"><a href="<?php echo _WEB_ ?>move.php">VR 影视</a></li>
            <li class="breadcrumb-item active" aria-current="page">头号玩家</li>
        </ol>
        <a href="<?php echo _WEB_ ?>move.php">更多</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 xsy">
                <h3 class="mb">头号玩家 Ready Player One (2018)</h3>
                <div class="flex">
                    <div class="flex">
                        <div class="thwj">
                            <img src="<?php echo _IMG_ ?>move1.webp" alt="头号玩家">
                        </div>
                        <div>
                            <ul class="mpz ula">
                                <li>
                                    <span>导演:</span><a href="">史蒂文·斯皮尔伯格</a>
                                </li>
                                <li>
                                    <span>编剧:</span>
                                    <a href="">扎克·佩恩</a>/
                                    <a href="">恩斯特·克莱恩</a>
                                </li>
                                <li>
                                    <span>主演:</span>
                                    <a href="">泰伊·谢里丹</a>/
                                    <a href="">奥利维亚·库克</a>/
                                    <a href="">本·门德尔森</a>/
                                    <a href="">丽娜·维特</a>
                                </li>
                                <li>
                                    <span>类型:</span>动作/冒险/科幻
                                </li>
                                <li>
                                    <span>制片国家/地区:</span>美国
                                </li>
                                <li>
                                    <span>语言:</span>英语 / 日语 / 汉语普通话
                                </li>
                                <li>
                                    <span>上映日期:</span>2018-03-30(中国大陆) / 2018-03-11(西南偏南电影节) / 2018-03-29(美国)
                                </li>
                                <li>
                                    <span>片长:</span>140分钟
                                </li>
                                <li>
                                    <span>又名:</span>玩家一号 / 挑战者1号(港) / 一级玩家(台) / 一号玩家
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="mwr">
                        <span>评分</span>
                        <div class="flex">
                            <h2 class="mpz">8.7</h2>
                            <div>
                                <p class="mpz">
                                    <i class="fas fa-star co"></i>
                                    <i class="fas fa-star co"></i>
                                    <i class="fas fa-star co"></i>
                                    <i class="fas fa-star co"></i>
                                    <i class="fas fa-star-half-alt co"></i>
                                </p>
                                <p class="mpz">
                                    735671人评价
                                </p>
                            </div>
                        </div>
                        <div class="mtbo">
                            <div><span>5星 </span><hr class="hr5"> <span>49.3%</span></div>
                            <div><span>4星 </span><hr class="hr4"> <span>37.5%</span></div>
                            <div><span>3星 </span><hr class="hr3"> <span>11.7%</span></div>
                            <div><span>2星 </span><hr class="hr2"> <span>1.2%</span></div>
                            <div><span>1星 </span><hr class="hr1"> <span>0.4%</span></div>
                        </div>
                        <div class="mtbo bdt">
                            <p class="mpz talm"><span> 好于</span><a href=""> 98%科幻片</a></p>
                            <p class="mpz talm"><span> 好于</span><a href=""> 98%冒险片</a></p>
                        </div>
                        
                    </div>
                </div>
                <div class="film mtbo">
                    <button>想看</button>
                    <button>看过</button>
                    <span>评价：</span>
                    <div class="filma">
                    <a href="" > <i class="far fa-star"></i></a>
                    <a href=""> <i class="far fa-star"></i></a>
                    <a href=""> <i class="far fa-star"></i></a>
                    <a href=""> <i class="far fa-star"></i></a>
                    <a href=""> <i class="far fa-star"></i></a>
                    <span></span>
                    </div>
                   
                </div>
                <div>
                    <i class="far fa-edit"></i>
                    <a href=""><span> 写短评 </span></a>
                    <i class="fas fa-pen mlo"></i>
                    <a href=""><span> 写影评 </span></a>
                    <i class="fas fa-plus mlo"></i>
                    <a href=""><span>提问题</span></a>
                    <ul id="menu">
                        <li>
                            <span class="mlo">分享到 <i class="fas fa-sort-down"></i></span>
                            <ul>
                                <li>
                                    <!-- <i class="fab fa-qq fiz"></i> -->
                                    <a href=""><span><i class="fab fa-qq fiz"></i>Q Q 好友</span></a> 
                                </li>
                                <li>
                                    <a href=""><span> <i class="fab fa-weixin fiz"></i>微&emsp;&emsp;信</span></a> 
                                </li>
                                <li>
                                    <a href=""><span><i class="fab fa-weibo fiz"></i>新浪微博</span></a> 
                                </li>
                                <li>
                                    <a href=""><span><i class="fab fa-tencent-weibo fiz"></i>腾讯微博</span></a> 
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <button class="btn btn-success mpz for">推荐</button>
                </div>
                <h4 class="mtbo coq">头号玩家的剧情简介 · · · · · ·</h4>
                <p>故事发生在2045年，虚拟现实技术已经渗透到了人类生活的每一个角落。詹姆斯哈利迪（马克·里朗斯 Mark Rylance 饰）一手建造了名为“绿洲”的虚拟现实游戏世界，临终前，他宣布自己在游戏中设置了一个彩蛋，找到这枚彩蛋的人即可成为绿洲的继承人。要找到这枚彩蛋，必须先获得三把钥匙，而寻找钥匙的线索就隐藏在詹姆斯的过往之中。</p>
                <p>韦德（泰尔·谢里丹 Tye Sheridan 饰）、艾奇（丽娜·维特 Lena Waithe 饰）、大东（森崎温 饰）和修（赵家正 饰）是游戏中的好友，和之后遇见的阿尔忒弥斯（奥利维亚·库克 Olivia Cooke 饰）一起，五人踏上了寻找彩蛋的征程。他们所要对抗的，是名为诺兰索伦托（本·门德尔森 Ben Mendelsohn 饰）的大资本家。 <a href="">©豆瓣</a> </p>
                <div class="showjs">
                    <div class="boxjs">
                        <img src="<?php echo _IMG_ ?>3d1.jpeg" class="img1">
                        <img src="<?php echo _IMG_ ?>3d2.jpeg" class="img2">
                        <img src="<?php echo _IMG_ ?>3d3.jpg" class="img3">
                        <img src="<?php echo _IMG_ ?>3d4.jpeg" class="img4">
                        <img src="<?php echo _IMG_ ?>3d5.jpg" class="img5">
                        <img src="<?php echo _IMG_ ?>3d6.jpg" class="img6">
                        <img src="<?php echo _IMG_ ?>3d7.jpg" class="img7">
                        <img src="<?php echo _IMG_ ?>3d8.jpg" class="img8">
                        <img src="<?php echo _IMG_ ?>3d9.jpeg" class="img9">
                        <img src="<?php echo _IMG_ ?>3d10.jpg" class="img10">
                    </div>
                </div>
                <div>
                    <p class="for bcr"><i class="far fa-edit pen"></i> <a href=""><span>我要写短评</span></a></p>
                    <h4 class="mtbo coq">头号玩家的短评 · · · · · · <span>( 全部 334514 条 )</span></h4>
                </div>
                <div>
                    <div class="mtbo">
                        <button>热门</button>&emsp;<span>/</span>&emsp;<button>最新</button>&emsp;<span>/</span>&emsp;<button>好友</button>
                    </div>
                    <div class="mtbo bdtb">
                        <div>
                            <a href="">影人</a>
                            <span>看过</span>
                            <span>2019-3-15</span>
                        </div>
                        <p>
                            堪比“黑客帝国”的虚拟与现实切换，但没有苦大仇深的哲学思考，而是带着娱乐至死的精神，把影视游戏各种流行文化致敬了个遍  
                        </p>
                    </div>
                    <form action="move1.php" method="post">
                        <textArea class="pilun"></textArea>
                        <input type="button" value="提交" name="cont">
                    </form>
                </div>
            </div>
            <div class="col-lg-3 pto">
                <div class="bge mbo">
                    <h5 class="mtbo coq">在哪儿看这部电影 · · · · </h5>
                    <p><a href="">腾讯视频</a> <span>VIP免费观看</span></p>
                </div>
                <div class="bge mbo">
                    <h5 class="mtbo coq">本片原声在播放中 · · · </h5>
                    <p><a href="">前往观看</a></p>
                </div>
                <div class="po">
                    <h5 class="mtbo coq">常用标签 · · · </h5>
                    <a href="">科幻</a>
                    <a href="">虚拟现实</a>
                    <a href="">游戏</a>
                    <a href="">VR</a>
                    <a href="">美国</a>
                    <a href="">2018</a>
                    <a href="">冒险</a>
                    <a href="">动作</a>
                </div>
                <div class="po">
                    <h5 class="mtbo coq">推荐列表 · · · </h5>
                    <p><a href="">星际征战</a> &emsp;<span>流浪星空，征战星际</span></p>
                </div>
                <div class="po">
                    <h5 class="mtbo coq">谁在看这部电影 · · · </h5>
                    <div class="flexb">
                        <div>
                            <img src="<?php echo _IMG_ ?>3d1.jpeg" alt="">
                        </div>
                         <div>
                            <a href="">头号玩家</a> 
                            <p>刚刚 看过</p> 
                        </div>
                    </div>
                    <span>949838人看过  /  88559人想看</span>
                </div>
            </div>
        </div>
    </div>

<!-- footer start -->
<?php include('view/common/footer.html') ?>
<!-- footer end -->

</body>
</html>
<script src=".<?php echo _JS_ ?>jquery-ui.js"></script>
<link rel="stylesheet" href=".<?php echo _JS_ ?>jquery-ui.css">
<script src=".<?php echo _JS_ ?>move.js"></script>