<!-- header start -->
<?php  include('./view/common/header.html') ; ?>
<!-- header start -->

    <nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">主页</a></li>
            <li class="breadcrumb-item"><a href="rec.html">产品展示</a></li>
            <li class="breadcrumb-item active" aria-current="page">VR 设备</li>
        </ol>
        <a href="">更多</a>
    </nav>
    <div class="rec container mpz">
        <h2 class="po">VR 新型设备</h2>
        <div class="row">
            <?php foreach($recsb as $v) { ?>
            <div class="col-lg-4">
                <div class="card mbo">
                    <img class="card-img-top" src="<?php echo $v['r_img'] ?>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><?php echo $v['r_title'] ?></h5>
                        <p class="card-text"><?php echo $v['r_txt'] ?></p>
                        <a href="#" class="btn btn-primary">了解详情</a>
                    </div>
                </div>
            </div> 
            <?php } ?> 
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">上一页</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">下一页</a>
            </li>
        </ul>
    </nav>
<!-- footer start -->
<?php include('view/common/footer.html') ?>
<!-- footer end -->
