<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VR 游戏</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../csw.css"> -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./cs/style.css">
</head>

<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt="天下视" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="index.html">主页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            关于我们
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="us.html">关于我们</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="us.html">企业介绍</a>
                            <a class="dropdown-item" href="usw.html">企业文化</a>
                        </div>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="rec.html" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            产品展示
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="rec.html">产品展示</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="rec.html">社交网络</a>
                            <a class="dropdown-item" href="game.html">VR 游戏</a>
                            <a class="dropdown-item" href="move.html">VR 影视</a>
                            <a class="dropdown-item" href="recsb.html">VR 设备</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            新闻动态
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="new.html">新闻动态</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="new1.html">企业新闻</a>
                            <a class="dropdown-item" href="new2.html">行业新闻</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jion.html">加入我们</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link disabled" href="jion.html">联系我们</a>
                    <i class="fas fa-phone-volume"></i>
                    <a class="nav-link" href="#">400-0000-0000</a>
                </form>
            </div>
        </nav>
    </header>
    <nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">主页</a></li>
            <li class="breadcrumb-item"><a href="rec.html">产品展示</a></li>
            <li class="breadcrumb-item"><a href="game.html">VR 游戏</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fallout 4 VR(辐射4 VR)</li>
        </ol>
        <a href="">更多</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 xsy">
                <div class="bd">
                    <h4>Fallout 4 VR(辐射4 VR)</h4>
                    <div class="flx">
                        <div>
                            <img src="images/recyx.jpg" alt="">
                        </div>
                        <div class="fex">
                            <p><span>平 台：</span>PC</p>
                            <p><span>类 型：</span>动作冒险</p>
                            <p><span>支持设备：</span>HTC Vive</p>
                            <p><span>语 音：</span>简体中文</p>
                            <p><span>发售日：</span>2017-12-12</p>
                            <p><span>制作公司：</span>Bethesda</p>
                            <p><span>游戏大小：</span>25.50G</p>
                            <p><span>官方价格：</span>79元</p>
                            <p><span>87 价格：</span>免费</p>
                            <p>
                                <button>立即下载</button>
                                <button>进入论坛</button>
                            </p>
                        </div>
                    </div>
                    <h4 class="mto plo blo">游戏介绍</h4>
                    <p>《辐射4》（Fallout 4）是由Bethesda开发的一款角色扮演类游戏，于2015年11月10日发行，为《辐射》系列游戏作品的第四代。此系列包括了延伸作品如《辐射战略版：钢铁兄弟会》。</p>
                    <p class="fle">
                        <button><a href=""><i class="fas fa-suitcase i"></i>游戏简评</a> </button>
                        <button><a href=""><i class="fas fa-camera i"></i>游戏截图</a> </button>
                        <button><a href=""><i class="fas fa-play-circle i"></i>游戏视频</a> </button>
                        <button><a href=""><i class="far fa-newspaper i"></i>相关阅读</a> </button>
                        <button><a href=""><i class="fas fa-graduation-cap i"></i>相关教程</a> </button>
                    </p>
                    <h4 class="mto plo blo">游戏简评</h4>
                    <p>《辐射4》（Fallout 4）是由Bethesda开发的一款角色扮演类游戏，于2015年11月10日发行，为《辐射》系列游戏作品的第四代。此系列包括了延伸作品如《辐射战略版：钢铁兄弟会》。</p>
                    <h4 class="mto plo blo">游戏截图</h4>
                    <div id="con">
                        <a href="javascript:;" id="left"><i class="fas fa-chevron-left"></i> </a>
                        <a href="javascript:;" id="right"><i class="fas fa-chevron-right"></i> </a>
                        <ul class="mto"> 
                            <li>
                                <img src="./images/recyx1.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/recyx2.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/recyx3.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/recyx4.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <h4 class="mto">我有话说 :</h4>
                <textarea name="" id="text" placeholder="我有话说 ......"></textarea>
                <div class="clearfix">
                    <button type="button" class="btn btn-warning fr ">评论</button>
                </div>
                <h4 class="pdo"><span>最新评论</span> <hr></h4>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <ul class="list-group list-group-flush auto mw">
                        <li class="list-group-item auto bbo">
                            <div class="arc ">
                                <p>6</p>
                            </div>
                            <p class="tc">游戏评分</p>
                        </li>
                        <li class="list-group-item tac">
                            <p ><hr> <span class="ti">游戏评分 :</span> </p>
                            <p>
                                <ul>
                                    <li >
                                        <p><span>画&emsp;面:</span> <a href="">&hearts;</a>  <a href="">&hearts;</a> <a href="">&hearts;</a> &hearts; &hearts;</p> 
                                    </li>
                                    <li>
                                        <p><span>音&emsp;效: <a href="">&hearts;</a>  <a href="">&hearts;</a> <a href="">&hearts;</a> &hearts; &hearts;</p> 
                                    </li>
                                    <li>
                                        <p><span>沉浸感:</span> <a href="">&hearts;</a>  <a href="">&hearts;</a> <a href="">&hearts;</a> &hearts; &hearts;</p> 
                                    </li>
                                    <li>
                                        <p><span>舒适感:</span> <a href="">&hearts;</a>  <a href="">&hearts;</a> <a href="">&hearts;</a> &hearts; &hearts;</p> 
                                    </li>
                                    <li>
                                        <p><span>游戏性:</span> <a href="">&hearts;</a>  <a href="">&hearts;</a> <a href="">&hearts;</a> &hearts; &hearts;</p> 
                                    </li>
                                </ul>
                            </p>

                        </li>
                        <li class="list-group-item mw">
                        </li>
                        <li class="list-group-item">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="bgc">
        <div class="container">
            <div class="row ft">
                <div class="col-lg-7">
                    <div class="rwo">
                        <div class="col-lg-12 mpz">
                            <h5>联系我们</h5>
                        </div>
                        <div class="col-lg-12 mpz">
                            <h6 class="po">天下视</h6>
                        </div>
                        <div class="row pp">
                            <div class="col-lg-6">
                                <p> 地址：广东省深圳市科兴科学园</p>
                                <p>手机：17303169207 / 18501562740</p>
                                <p> 邮编：517000</p>
                            </div>
                            <div class="col-lg-6 ">
                                <p> 传真：0755-88886666</p>
                                <p>电话：0755-88886666</p>
                                <p>邮箱: 1484552626@qq.com</p>
                            </div>
                            <div class="col-lg-2">
                                <p>
                                    关注我们:
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <img src="images/tcs.jpg" alt="" class="tcs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="images/tab.png" alt="" class="tab">
                </div>
            </div>
        </div>
        <div class="container bgb">
            <span>
                Copyright 2018
                <a href="#" class="fta">www.tcsvr.com</a>
            </span>
        </div>
    </footer>


</body>

</html>
<script src="./js/main.js"></script>