<!-- header start -->
<?php  include('./view/common/header.html') ; ?>
<!-- header start -->

    <div class="container mpz mt">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">主页</a></li>
                <li class="breadcrumb-item active" aria-current="page">关于我们</li>
            </ol>
        </nav>

        <?php echo $us['a_content'] ?>

    </div>
<!-- footer start -->
    <?php include('view/common/footer.html') ?>
<!-- footer end -->
