<!-- header start -->
<?php  include('./view/common/header.html') ; ?>
<!-- header start -->
            <div class="container mpz mt">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">主页</a></li>
                        <li class="breadcrumb-item"><a href="us.html">关于我们</a></li>
                        <li class="breadcrumb-item active" aria-current="page">企业文化</li>
                    </ol>
                </nav>
                <div class="grid">
            </div>
<!-- footer start -->
<?php include('view/common/footer.html') ?>
<!-- footer end -->
