<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻动态</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../csw.css"> -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./cs/style.css">
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt="天下视" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="index.html">主页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            关于我们
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="us.html">关于我们</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="us.html">企业介绍</a>
                            <a class="dropdown-item" href="usw.html">企业文化</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="rec.html" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            产品展示
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="rec.html">产品展示</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="game.html">社交网络</a>
                            <a class="dropdown-item" href="game.html">VR 游戏</a>
                            <a class="dropdown-item" href="move.html">VR 影视</a>
                            <a class="dropdown-item" href="recsb.html">VR 设备</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            新闻动态
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="new.html">新闻动态</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="new2.html">企业新闻</a>
                            <a class="dropdown-item" href="new2.html">行业新闻</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jion.html">加入我们</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link disabled" href="jion.html">联系我们</a>
                    <i class="fas fa-phone-volume"></i>
                    <a class="nav-link" href="#">400-0000-0000</a>
                </form>
            </div>
        </nav>
    </header>
    <nav aria-label="breadcrumb" class=" container mt flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">主页</a></li>
            <li class="breadcrumb-item"><a href="new.html">新闻动态</a></li>
            <li class="breadcrumb-item"><a href="new2.html">行业新闻</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vtime</li>
        </ol>
        <a href="">更多</a>
    </nav>
    <div class="container"> 
        <div class="row">
        <div class="col-lg-8 xsy ">
            <h3>Vtime XR为VR社交网络推出AR模式</h3>
            <p>Vtime XR推出了一款虚拟现实社交网络，你可以通过VR或者智能手机上的AR观看。AR模式今天在iOS和Android上发布。</p>
            <p>该公司（命名为vTime）将更名为vTime XR，以将其网络推广为一种跨现实（XR）体验，将VR聊天与通过增强现实（AR）与朋友联系的能力结合起来，即在现实世界之上叠加动画效果。</p>
            <p>用户将能够满足与他人在一个共享的虚拟空间利用VR头显或手持智能手机AR。跨平台交叉现实提供，Vtime XR让用户选择设备和类型的身临其境的体验，他们更喜欢通过基于“增大化现实”技术的选择、虚拟现实、2 D魔法窗口模式。</p>
            <p class="img"><img src="http://n.sinaimg.cn/sina_vr/transform/38/w550h288/20190219/HRBo-htfpvza3014300.png" alt=""></p>
            <p>VR用户将完全沉浸在Vtime XR的度假目的地中，而AR用户将通过在任何真实世界的平面上放置360度的目的地实时立体模型加入其中。AR用户可以与他人交互，改变和扩展他们对目的地的看法，以及访问Vtime特性，如角色定制、图像共享和私有消息。</p>
            <p>>今天在iOS和Android上发布的AR模式将适用于所有支持苹果的ARKit和谷歌的ARCore的手机</p>
            <p>Vtime的总经理Clemens Wangerin在一份声明中说：“创造世界上第一个跨现实的社交体验对我们来说是一个非常难得的机会，我们不能错过。”“AR为vTime未来的创新提供了另一个沉浸式的平台，vTime XR标志着我们为全球社区提供市场领先和高度参与的交流体验的下一步，无论他们选择的技术是什么。”</p>
            <p class="img"><img src="http://n.sinaimg.cn/sina_vr/transform/42/w550h292/20190219/xY0X-htfpvza3016251.png" alt=""></p>
            <p>Vtime XR的跨现实功能的推出与一个全新的视觉标识相吻合，该标识包括公司和产品的新标识，以及一个更新的网站和标识动画。</p>
            <p>Vtime XR是免费的，现在可以下载Android、iPhone、谷歌Cardboard、Oculus Go、三星Gear VR、Windows混合现实、Daydream View和Oculus Rift。</p>
            <p>Vtime成立于2013年，总部位于英国利物浦，为其AR和VR互动技术募集了760万美元。</p>
            <p>图文出自：venturebeat</p>
            <p>原文链接：https://venturebeat.com/2019/02/19/vtime-xr-unveils-ar-mode-for-vr-social-network/</p>        <p></p>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                  相关推荐
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <a href="newai.html">将AI 接入VR</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newcat.html">VR社交有戏？VRChat用户量已达150万</a>
                    </li>
                  <li class="list-group-item">
                      <a href="nesdm.html">Dream World</a>
                    </li>
                  <li class="list-group-item">
                      <a href="newyx.html">火遍抖音的《Beat Saber》 让人停不下的VR音游</a>
                    </li>
                </ul>
              </div>
        </div>
    </div>
    </div>
    <footer class="bgc">
        <div class="container">
            <div class="row ft">
                <div class="col-lg-7">
                    <div class="rwo">
                        <div class="col-lg-12 mpz">
                            <h5>联系我们</h5>
                        </div>
                        <div class="col-lg-12 mpz">
                            <h6 class="po">天下视</h6>
                        </div>
                        <div class="row pp">
                            <div class="col-lg-6">
                                <p> 地址：广东省深圳市科兴科学园</p>
                                <p>手机：17303169207 / 18501562740</p>
                                <p> 邮编：517000</p>
                            </div>
                            <div class="col-lg-6 ">
                                <p> 传真：0755-88886666</p>
                                <p>电话：0755-88886666</p>
                                <p>邮箱: 1484552626@qq.com</p>
                            </div>
                            <div class="col-lg-2">
                                <p>
                                    关注我们:
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <img src="images/tcs.jpg" alt="" class="tcs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="images/tab.png" alt="" class="tab">
                </div>
            </div>
        </div>
        <div class="container bgb">
            <span>
                Copyright 2018
                <a href="#" class="fta">www.tcsvr.com</a>
            </span>
        </div>
    </footer>

</body>
</html>